
@font-face {
    font-family: 'lascobold';
    src: url('../fonts/lasco-634-webfont.woff2') format('woff2'),
     url('../fonts/lasco-634.ttf')  format('truetype'), 
         url('../fonts/lasco-634-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}