@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/segoe.eot');
  src: url('../fonts/segoe.eot?#iefix') format('embedded-opentype'), url('../fonts/segoe.woff2') format('woff2'), url('../fonts/segoe.woff') format('woff'), url('../fonts/segoe.ttf') format('truetype'), url('../fonts/segoe.svg#segoe_uisegoe_ui') format('svg');
}
@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/segoe.eot');
  src: url('../fonts/segoe.eot?#iefix') format('embedded-opentype'), url('../fonts/segoe.woff2') format('woff2'), url('../fonts/segoe.woff') format('woff'), url('../fonts/segoe.ttf') format('truetype'), url('../fonts/segoe.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg');
}
body {
  font-family: Segoe UI, Arial, sans-serif;
  color: #fff;
  min-width: 300px;
}
section {
  position: relative;
  padding: 80px 0;
}
@media (max-width: 767px) {
  section {
    padding: 80px 20px;
  }
}
h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 16px;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 0;
}
@media (max-width: 767px) {
  h2 {
    margin-bottom: 30px;
  }
}
.white h2::after {
  display: table;
  content: '';
  width: 45px;
  height: 2px;
  background-color: #fff;
  margin-top: 10px;
}
.grey {
  color: #515f67;
}
.grey h2::after {
  display: table;
  content: '';
  width: 45px;
  height: 2px;
  background-color: #515f67;
  margin-top: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  float: left;
}
.cliarfix:before,
.cliarfix:after {
  content: "";
  display: table;
}
.cliarfix:after {
  clear: both;
}
.cliarfix {
  clear: both;
}
.clear {
  clear: both;
  display: none;
}
@media (max-width: 991px) {
  .clear {
    display: block;
  }
}
img {
  width: 100%;
  height: auto;
}
.item {
  margin-bottom: 30px;
}
@media (max-width: 550px) {
  .item {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .itemBottom {
    margin-bottom: 30px;
  }
}
.active {
  border: 3px solid #4bcaff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  color: #4bcaff!important;
}
@media (max-width: 767px) {
  .active {
    border: none;
  }
}
.active a:active {
  color: #fff;
  background: transparent;
  outline: none;
}
.active a:focus {
  outline: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
}
.navbar-toggle {
  border: 2px solid #4bcaff;
  background: transparent;
  padding: 6px 12px;
  border-radius: 25px;
  margin: 6px 12px;
}
.navbar-toggle .fa {
  color: #4bcaff;
}
header {
  background: url(../img/top-img.png) no-repeat;
  background-size: cover;
}
header .header {
  width: 100%;
}
.navbar {
  border: none;
  margin: 0;
}
.navbar-default {
  background: #3b454d;
  opacity: 0.85;
}
.navbar-default .navbar-nav {
  padding: 30px 0;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav {
    padding: 10px 0;
  }
}
@media (max-width: 992px) {
  .navbar-default .navbar-nav li {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav li {
    display: block;
    float: none;
    text-align: center;
  }
}
.navbar-default .navbar-nav li a {
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  background: transparent;
  transition: color 0.6s ease-out;
}
.navbar-default .navbar-nav li a:hover {
  text-decoration: none;
  color: #4bcaff;
}
.navbar-default .navbar-nav li a:focus {
  color: #fff;
  background: transparent;
}
.navbar-default .navbar-header {
  padding: 25px 0;
}
.navbar-default .navbar-header a {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}
.navbar-default .navbar-header a span {
  color: #4bcaff;
}
.navbar-default .navbar-header a:hover {
  color: #fff;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: transparent;
}
.navbar-default .navbar-collapse {
  border: none;
}
.hero {
  padding: 255px 0;
  text-align: center;
}
.hero h1 span {
  color: white;
  background: rgba(74, 87, 94, 0.8);
  margin-bottom: 10px;
  padding: 0px 20px;
  font-size: 42px;
  font-weight: 300;
  line-height: 75px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .hero h1 span {
    font-size: 36px;
    line-height: 55px;
  }
}
#services {
  background: #4bcaff;
  text-align: left;
}
#services h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  margin: 15px 0;
}
#services p {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}
#services .image {
  display: inline-block;
  background: url(../img/spritesheet.png) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
#services .forSprite_one {
  background-position: -5px -156px;
  width: 34px;
  height: 48px;
}
#services .forSprite_two {
  background-position: -5px -53px;
  width: 48px;
  height: 48px;
}
#services .forSprite_three {
  background-position: -5px -106px;
  width: 47px;
  height: 48px;
}
#services .forSprite_four {
  background-position: -5px 0px;
  width: 48px;
  height: 48px;
}
@media (max-width: 991px) {
  #services .item:nth-child(1),
  #services .item:nth-child(2) {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  #services .item {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  #services .item:last-child {
    margin-bottom: 0;
  }
}
#portfolio {
  background: #fff;
  padding-bottom: 50px;
}
#portfolio .block {
  margin-top: 20px;
}
#portfolio .portMenu {
  float: right;
  margin-top: 10px;
}
@media (max-width: 768px) {
  #portfolio .portMenu {
    margin-top: 0px;
    margin-bottom: 40px;
    float: left;
  }
}
@media (max-width: 768px) and (max-width: 550px) {
  #portfolio .portMenu {
    float: none;
  }
}
#portfolio .portMenu li {
  padding: 0 5px;
}
@media (max-width: 992px) {
  #portfolio .portMenu li {
    padding: 0;
  }
}
@media (max-width: 550px) {
  #portfolio .portMenu li {
    float: none;
    text-align: center;
    display: block;
    margin: 10px 0;
  }
}
#portfolio .portMenu li a {
  padding: 10px 20px;
  color: #515f67;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  transition: color 0.5s ease-out;
}
@media (max-width: 550px) {
  #portfolio .portMenu li a {
    padding: 15px 50px;
  }
}
#portfolio .portMenu li a:hover {
  text-decoration: none;
  color: #4bcaff;
}
#portfolio .forContent {
  position: relative;
}
#portfolio .forContent .plus {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #454f54 url(../img/plus.png) no-repeat 50% 50%;
  display: inline-block;
  opacity: 0;
  transition: all .5s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  border-radius: 50%;
}
#portfolio .forContent:hover .plus {
  opacity: 0.8;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  border-radius: 0%;
}
#features {
  padding: 0;
}
#default {
  background: #515f67;
}
#default p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#default .button {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 15px;
  padding: 16px 38px;
  color: #353f46;
  background: transparent;
  border: 2px solid #353f46;
}
#twitter {
  background: #4bcaff;
}
#twitter .fa {
  font-size: 26px;
  float: right;
}
#twitter p {
  font-size: 28px;
  line-height: 50px;
  font-weight: 300;
}
#twitter p a {
  color: #fff;
}
#twitter p a:hover {
  text-decoration: none;
}
#john {
  background: url(../img/goe_img.png) no-repeat;
  background-size: cover;
}
#john p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#john a {
  height: 70px;
  width: 70px;
  display: inline-block;
  margin-right: 20px;
  padding: 0;
  border: 2px solid #fff;
  padding: 12px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  transition: all 0.5s ease-out;
}
#john a:hover {
  color: #4bcaff;
  border-color: #4bcaff;
}
#testimonials .quote {
  color: #515f67;
  font-family: Bitter;
  font-size: 72px;
  font-weight: 700;
  line-height: 50px;
  float: right;
}
#testimonials .cake {
  color: #515f67;
}
#testimonials .cake p {
  font-size: 28px;
  font-weight: 300;
  line-height: 50px;
}
#testimonials .cake cite {
  color: #4bcaff;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
}
#contact {
  background: url(../img/contact.png) no-repeat;
  background-size: cover;
}
#contact .label {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 0;
}
#contact .form-control {
  width: 100%;
  height: 60px;
  border: 2px solid white;
  background: transparent;
  border-radius: 0;
  margin-bottom: 25px;
}
#contact .form-control_two {
  height: 220px;
  border: 2px solid white;
  width: 100%;
  background: transparent;
  border-radius: 0;
}
#contact button {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 25px 155px;
  color: #fff;
  background: #4bcaff;
  border: none;
  transition: all ease-out 0.4s;
}
#contact button:hover {
  background: #1796cb;
}
@media (max-width: 550px) {
  #contact button {
    padding: 20px 50px;
  }
}
#contact p,
#contact address {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 18px;
  margin-bottom: 0;
}
#contact address {
  display: inline-block;
  margin-top: 35px;
}
@media (max-width: 991px) {
  #contact address {
    margin-bottom: 35px;
  }
}
.bottom {
  background: #353f47;
  padding: 50px 0;
}
@media (max-width: 550px) {
  .bottom {
    text-align: center;
    padding: 30px 0;
  }
}
.bottom ul {
  float: left;
}
@media (max-width: 550px) {
  .bottom ul {
    float: none;
    margin-bottom: 20px;
  }
}
@media (max-width: 550px) {
  .bottom ul li {
    float: none;
    display: inline-block;
  }
}
.bottom a {
  color: #515f67;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  text-transform: uppercase;
  padding: 0 15px;
  border-right: 1px solid #515f67;
}
.bottom a:hover {
  text-decoration: none;
}
.bottom .bn {
  border: none;
}
.bottom .copy {
  float: right;
  color: #515f67;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 550px) {
  .bottom .copy {
    float: none;
  }
}
