/*========================VARIABLES==========================*/
/*=========================FONTS====================================*/
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/Proxima_Nova_Thin.woff2") format("woff2"), url("./fonts/Proxima_Nova_Thin.woff") format("woff"), url("../fonts/Proxima_Nova_Thin.otf") format(".otf");
}
/*=====================COMMON STYLES======================*/
body {
  margin: 0;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
}

section {
  position: relative;
}

h2 {
  color: #333;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 0;
  position: relative;
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 20px;
  }
}
@media (max-width: 550px) {
  h2 {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 18px;
  }
}
h2::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 4px;
  left: 50%;
  margin-left: -35px;
  bottom: 0;
  background: url(../img/line.png) no-repeat;
}
@media (max-width: 767px) {
  h2::after {
    width: 50px;
    height: 3px;
    margin-left: -25px;
  }
}

h3 {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
}
@media (max-width: 991px) {
  h3 {
    font-size: 20px;
  }
}

p {
  color: #999;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 25px;
}
@media (max-width: 1999px) {
  p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.cliarfix:before,
.cliarfix:after {
  content: "";
  display: table;
}

.cliarfix:after {
  clear: both;
}

.cliarfix {
  clear: both;
}

.img-responsive {
  width: 100%;
  height: auto;
}

button,
button:active,
button:focus,
input:focus {
  outline: none;
}

.navigation {
  background: #c43d3d;
  position: relative;
}
.navigation .container {
  position: relative;
}
.navigation .logo {
  background: #993333;
  float: left;
  padding: 25px 20px;
}
@media (max-width: 991px) {
  .navigation .logo {
    padding: 15px 10px;
  }
}
@media (max-width: 767px) {
  .navigation .logo {
    float: none;
    text-align: center;
    padding: 10px 0;
  }
}
.navigation .brand {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.navigation .brand .img {
  display: inline-block;
  margin-right: 15px;
}
.navigation .wrap {
  position: absolute;
  top: 50%;
  right: 20px;
  height: 30px;
  margin-top: -15px;
}
@media (max-width: 767px) {
  .navigation .wrap {
    position: static;
    top: 0;
    right: 0;
    margin-top: 0;
    height: auto;
    padding: 15px 0;
    text-align: center;
  }
}
.navigation .search {
  float: left;
  position: relative;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .navigation .search {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
}
@media (max-width: 350px) {
  .navigation .search {
    display: block;
    padding-right: 0;
  }
}
.navigation .search input[type=search] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  color: white;
  font-size: 14px;
  font-weight: 600;
  width: 375px;
}
@media (max-width: 991px) {
  .navigation .search input[type=search] {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .navigation .search input[type=search] {
    max-width: 375px;
  }
}
.navigation .search input[type=search]::-webkit-input-placeholder {
  color: #fff;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.navigation .search input[type=search]::-moz-placeholder {
  color: #fff;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.navigation .search input[type=search]:-ms-input-placeholder {
  color: #fff;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.navigation .search input[type=search]::placeholder {
  color: #fff;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.navigation .search .button {
  height: auto;
  display: inline-block;
}
.navigation .search .button img {
  margin-bottom: 5px;
}
.navigation .search::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -5px;
  height: 42px;
  width: 3px;
  background: #993333;
}
.navigation .menu {
  float: right;
  margin-left: 30px;
}
@media (max-width: 767px) {
  .navigation .menu {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
}
@media (max-width: 350px) {
  .navigation .menu {
    display: block;
    margin-top: 25px;
    margin-left: 0;
  }
}
.navigation .menu a {
  display: inline-block;
  padding-top: 25px;
  color: white;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.navigation .menu a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  height: 30px;
  background: url(../img/list-menu.png) no-repeat;
}

@media (max-width: 767px) {
  .banner {
    display: none;
  }
}

.modal_menu {
  box-shadow: -4.3px 2.5px 9px rgba(0, 0, 0, 0.03);
  background: #fff;
  padding: 135px 0 80px 65px;
  position: absolute;
  height: auto;
  top: 0;
  right: 0;
  display: none;
  width: 580px;
  z-index: 999;
}
@media (max-width: 991px) {
  .modal_menu {
    width: 400px;
    padding: 80px 0 40px 40px;
  }
}
@media (max-width: 400px) {
  .modal_menu {
    width: 100%;
  }
}
.modal_menu .cross {
  background: transparent;
  border: none;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 40px;
  right: 170px;
}
@media (max-width: 991px) {
  .modal_menu .cross {
    right: 100px;
  }
}
@media (max-width: 400px) {
  .modal_menu .cross {
    right: 50%;
    margin-left: -13px;
  }
}
.modal_menu .sidebar li {
  padding-bottom: 70px;
}
@media (max-width: 991px) {
  .modal_menu .sidebar li {
    padding-bottom: 40px;
  }
}
.modal_menu .sidebar li:last-child {
  padding-bottom: 0;
}
.modal_menu .sidebar li a {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #303030;
  transition: color .4s ease-out;
}
@media (max-width: 991px) {
  .modal_menu .sidebar li a {
    font-size: 20px;
  }
}
.modal_menu .sidebar li a:hover {
  color: #c43d3d;
}
.modal_menu .sidebar li a.active {
  color: #c43d3d;
}

.about .about_us {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 1199px) {
  .about .about_us {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}
.about .our_difference {
  padding-bottom: 160px;
}
@media (max-width: 1199px) {
  .about .our_difference {
    padding-bottom: 100px;
  }
}
.about .our_difference .info {
  margin-top: 100px;
}
@media (max-width: 1199px) {
  .about .our_difference .info {
    margin-top: 60px;
  }
}
@media (max-width: 991px) {
  .about .our_difference .info {
    margin-top: 30px;
  }
}
.about .our_difference .info .item {
  padding: 0 30px 20px 30px;
  position: relative;
}
@media (max-width: 991px) {
  .about .our_difference .info .item {
    text-align: center;
    margin-bottom: 40px;
  }
  .about .our_difference .info .item:last-child {
    margin-bottom: 0;
  }
}
.about .our_difference .info .item:after {
  content: '';
  position: absolute;
  width: 70px;
  height: 4px;
  left: 30px;
  bottom: 0;
  background: url(../img/line.png) no-repeat;
}
@media (max-width: 991px) {
  .about .our_difference .info .item:after {
    left: 50%;
    margin-left: -35px;
  }
}
.about .our_difference .info .number {
  color: #d24a43;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 72px;
  font-weight: 100;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .about .our_difference .info .number {
    font-size: 60px;
  }
}
.about .clients {
  margin-bottom: 160px;
}
@media (max-width: 1199px) {
  .about .clients {
    margin-bottom: 100px;
  }
}
@media (max-width: 550px) {
  .about .clients {
    margin-bottom: 50px;
  }
}
.about .clients h2 {
  margin-bottom: 70px;
}
.about .clients .item {
  cursor: pointer;
  margin: 0 4%;
}
@media (max-width: 991px) {
  .about .clients .item {
    margin: 30px 0;
  }
}
@media (max-width: 480px) {
  .about .clients .item {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .about .clients .item img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .about .clients .item img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}
.about .buy_product {
  margin-bottom: 170px;
}
@media (max-width: 1199px) {
  .about .buy_product {
    margin-bottom: 80px;
  }
}

.catalog .our_catalog {
  padding-top: 80px;
}
@media (max-width: 1999px) {
  .catalog .our_catalog {
    padding-top: 50px;
  }
}
.catalog .our_catalog .wrap {
  padding: 0;
}
.catalog .our_catalog .wrapper_head {
  padding-bottom: 90px;
  margin-bottom: 60px;
  border-bottom: 1px solid #e8e8e8;
}
@media (max-width: 1999px) {
  .catalog .our_catalog .wrapper_head {
    padding-bottom: 70px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .catalog .our_catalog .wrapper_head {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: none;
  }
}
@media (max-width: 700px) {
  .catalog .our_catalog .content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.catalog .our_catalog .item {
  padding: 0;
}
@media (max-width: 700px) {
  .catalog .our_catalog .item {
    width: 80%;
  }
}
.catalog .our_catalog .item_1 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
@media (max-width: 700px) {
  .catalog .our_catalog .item_1 {
    margin-bottom: 60px;
  }
}
.catalog .our_catalog .item_2 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.catalog .our_catalog .item_3 {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
.catalog .our_catalog .item_4 {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}
@media (max-width: 700px) {
  .catalog .our_catalog .item_4 {
    margin-bottom: 60px;
  }
}
.catalog .our_catalog .item_5 {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
}
@media (max-width: 700px) {
  .catalog .our_catalog .item_5 {
    margin-bottom: 60px;
  }
}
.catalog .our_catalog .item_6 {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
}
.catalog .our_catalog .item_7 {
  -webkit-order: 7;
  -ms-flex-order: 7;
  order: 7;
}
.catalog .our_catalog .item_8 {
  -webkit-order: 8;
  -ms-flex-order: 8;
  order: 8;
}
.catalog .our_catalog .info {
  padding-top: 90px;
  padding-left: 60px;
}
@media (max-width: 1999px) {
  .catalog .our_catalog .info {
    padding-top: 60px;
    padding-left: 40px;
  }
}
@media (max-width: 767px) {
  .catalog .our_catalog .info {
    padding-top: 40px;
    padding-left: 30px;
  }
}
@media (max-width: 700px) {
  .catalog .our_catalog .info {
    padding-top: 0;
    padding-left: 0;
  }
}
@media (max-width: 1999px) {
  .catalog .our_catalog .info h3 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .catalog .our_catalog .info h3 {
    font-size: 18px;
  }
}
@media (max-width: 1999px) {
  .catalog .our_catalog .info p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .catalog .our_catalog .info p {
    font-size: 14px;
  }
}
.catalog .our_catalog .line:after {
  content: '';
  position: absolute;
  width: 70px;
  height: 4px;
  left: 60px;
  bottom: 0;
  background: #e8e8e8;
}
@media (max-width: 1999px) {
  .catalog .our_catalog .line:after {
    left: 40px;
  }
}
@media (max-width: 767px) {
  .catalog .our_catalog .line:after {
    left: 30px;
  }
}
@media (max-width: 767px) {
  .catalog .our_catalog .line:after {
    display: none;
  }
}
.catalog .our_catalog h3.active {
  color: #e33b3b;
}
.catalog .our_catalog .list li {
  color: #303030;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color .4s ease-out;
}
@media (max-width: 1999px) {
  .catalog .our_catalog .list li {
    font-size: 16px;
  }
}
@media (max-width: 1999px) {
  .catalog .our_catalog .list li {
    font-size: 14px;
  }
}
.catalog .our_catalog .list li:hover {
  color: #e33b3b;
}
.catalog .our_catalog .list li.active {
  color: #e33b3b;
}
.catalog .brands {
  padding-top: 120px;
  padding-bottom: 160px;
}
@media (max-width: 1999px) {
  .catalog .brands {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}
.catalog .brands h2 {
  margin-bottom: 90px;
}
@media (max-width: 1999px) {
  .catalog .brands h2 {
    margin-bottom: 50px;
  }
}
.catalog .brands .item {
  text-align: center;
  margin-bottom: 60px;
}
.catalog .brands .item:last-child {
  margin-bottom: 0;
}
.catalog .brands .images_border {
  padding: 50px 0;
  text-align: center;
  width: 100%;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  transition: all .4s ease-out;
}
.catalog .brands .images_border:hover {
  border: 1px solid #777;
}
@media (max-width: 767px) {
  .catalog .brands .images_border {
    width: 60%;
    display: inline-block;
  }
}
@media (max-width: 550px) {
  .catalog .brands .images_border {
    width: 90%;
  }
}
.catalog .brands .brand_name {
  color: #303030;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

.footer_top {
  background: #c43d3d;
  padding: 60px 0;
}
@media (max-width: 991px) {
  .footer_top {
    padding: 40px 0;
  }
}
.footer_top .questions {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-top: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  position: relative;
}
.footer_top .questions:after {
  content: '';
  position: absolute;
  width: 70px;
  height: 4px;
  left: 15px;
  bottom: 0;
  background: #fff;
}
@media (max-width: 991px) {
  .footer_top .questions:after {
    left: 50%;
    margin-left: -35px;
  }
}
@media (max-width: 991px) {
  .footer_top .questions {
    text-align: center;
    padding-left: 0;
  }
}
.footer_top .item {
  padding: 0 30px;
}
@media (max-width: 991px) {
  .footer_top .item {
    text-align: center;
    margin-bottom: 50px;
  }
  .footer_top .item:last-child {
    margin-bottom: 0;
  }
}
.footer_top .item_1 {
  padding-left: 15px;
}
.footer_top .item_3 {
  padding-right: 15px;
}
.footer_top .area {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 35px;
  padding: 5px 0;
}
@media (max-width: 991px) {
  .footer_top .area {
    width: 70%;
  }
}
@media (max-width: 550px) {
  .footer_top .area {
    width: 90%;
    font-size: 15px;
    margin-bottom: 20px;
  }
}
.footer_top .area:last-child {
  margin-bottom: 0;
}
.footer_top .area::-webkit-input-placeholder {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.footer_top .area::-moz-placeholder {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.footer_top .area:-ms-input-placeholder {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.footer_top .area::placeholder {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.footer_top .item_2 .area {
  height: 180px;
  resize: none;
}
@media (max-width: 550px) {
  .footer_top .item_2 .area {
    height: 120px;
  }
}
@media (max-width: 991px) {
  .footer_top .item_2 {
    padding-left: 15px;
  }
}
.footer_top .item_3 {
  padding-left: 0;
}
@media (max-width: 991px) {
  .footer_top .item_3 {
    text-align: center;
  }
}
.footer_top .item_3 .btn {
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 60px;
  display: inline-block;
  width: 170px;
  text-align: left;
  white-space: pre-line;
  background: url(../img/arrow.png) no-repeat 10px 90%;
}
@media (max-width: 550px) {
  .footer_top .item_3 .btn {
    font-size: 18px;
    line-height: 25px;
  }
}

.footer_bottom {
  padding: 25px 0;
  text-align: center;
}
.footer_bottom .social .link {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background: #d0d0d0;
  margin: 0 5px;
}
.footer_bottom .copy {
  color: #303030;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 0;
}
