/*=====================COMMON STYLES======================*/

*{
	box-sizing:border-box;
}
body{
	min-width: 320px;
}

section{
	position: relative;
}

.container{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	@media(max-width:767px){
		width: auto;
	}
	@media(min-width:768px){
		width: 750px;
	}
	@media(min-width:992px){
		width: 970px;
	}
	@media(min-width:1200px){
		width: 1170px;
	}
	@media(min-width:1650px){
		width: 1625px;
	}
}

ul{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

.cliarfix:before,
.cliarfix:after {
	content: "";
	display: table;
}

.cliarfix:after {
	clear: both;
}

.cliarfix {
	clear: both;
}

.img-responsive{
	width:100%;
	height: auto;
}

button, 
button:active, 
textarea:focus,
button:focus,
input:focus {
	outline: none;
}

.header{
	font-family: Roboto,sans-serif;
	font-size: 26px;
	font-weight: 700;
	color: #e5e3e5;
	text-transform: uppercase;
	margin-top: 0;
	span{
		color: #353535;
		text-transform: lowercase;
	}
	@media(max-width:991px){
		font-size: 20px;
	}
}

.btn{
	color: white;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	padding: 16px 0;
	width: 220px;
	border:0;
	background: #1c4f4e;
	text-align: center;
	border-radius:0;
	transition:all ease-out .5s;
	cursor:pointer;
	@media(max-width:1199px){
		font-size: 16px;
		width: 180px;
		padding: 14px 0;
	}
	&:hover{
		background: #063938;
		border-radius:4px;
	}
}

.logo{
	float:left;
	margin-left: 95px;
	padding-top: 30px;
	@media(max-width:430px){
		float:none;
		text-align: center;
	}
	.logo_img{
		position: relative;
		padding-bottom: 20px;
		display: inline-block;
		&::after{
			content:'';
			position: absolute;
			bottom:7px;
			left: 0;
			width: 100%;
			height: 2px;
			background: url(../img/line_small.png) no-repeat;
		}
	}
	.name_company{
		color: white;
		font-family: Roboto,sans-serif;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
	}
}

.for_float{
	display: none;
	@media(max-width:540px){
		display: block;
	}
}