.footer{
	background: #3b3b3b;
	padding: 30px 20px;
	.bl{
		display: inline-block;
		vertical-align:middle;
		@media(max-width:470px){
			display: block;
		}
	}
	.item_1{
		width: 30%;
		margin-left: 0;
		@media(max-width:470px){
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
		}
		.contacts{
			padding-left: 25px;
			@media(max-width:767px){
				padding-left: 0;
			}
		}
		p{
			color: white;
			font-family: Roboto, sans-serif;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			@media(max-width:1199px){
				font-size: 14px;
			}
			@media(max-width:991px){
				font-size: 12px;
			}
			@media(max-width:991px){
				margin: 0;
			}
		}
		.phone, .mail{
			text-transform: lowercase;
			@media(max-width:991px){
				font-size: 12px;
			}
		}
		.mail{
			color:#fff;
		}
	}
	.item_2{
		text-align: center;
		width: 36%;
		@media(max-width:470px){
			width: 100%;
			margin-bottom: 40px;
		}
		.logo{
			margin: 0;
			display: inline-block;
			float:none;
			padding-top: 0;
			@media(max-width:991px){
				width: 60%;
			}
			.first_logo{
				width: 100%;
			}
		}
	}
	.item_3{
		width: 30%;
		text-align: right;
		@media(max-width:470px){
			width: 100%;
			text-align: center;
		}
		.second_logo{
			@media(max-width:991px){
				width: 80%;
			}
		}
	}
}