header{
	height: 100vh;
}
.nav{
	background: #051f4c;
	padding: 0 25px;
	.logo{
		float:left;
		padding-top: 30px;
	}
	.items{
		float:right;
		padding: 33px 0;
		p:first-child{
			margin:0 0 5px 0;
		}
		p:last-child{
			margin:5px 0 0 0;
		}
	}
}

.banner{
	background: url(../img/header_bg.png) no-repeat;
	background-size: cover;
	padding:90px 55px 25px 55px;
	h1{
		color: white;
		font-family: Ubuntu;
		font-size: 23px;
		font-weight: 500;
		text-transform: uppercase;
		margin-top: 0;
		@media(max-width:460px){
			font-size: 18px;
		}
		@media(max-width:380px){
			font-size: 16px;
		}
	}
	.btn{
		display: inline-block;
		color: white;
		font-family: Ubuntu;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		margin: 55px 0;
		border:2px solid #fff;
		padding: 30px 20px;
		@media(max-width:460px){
			padding: 25px 15px;
			font-size: 14px;
			margin: 40px 0;
		}
		@media(max-width:380px){
			padding: 22px 12px;
			font-size: 12px;
		}
		@media(max-width:350px){
			font-size: 10px;
		}
	}
	.info{
		color: white;
		font-family: Roboto;
		font-size: 12px;
		font-weight: 300;
		line-height: 18px;
		margin-bottom: 50px;
	}
}