.top_header{
	background: #2e7f41;
	.logo{
		float:left;
		@media(max-width:490px){
			float:none;
			text-align: center;
		}
		.img_logo{
			display: inline-block;
			padding: 14px 22px 12px 0;
			@media(max-width:490px){
				margin-top: -25px;
			}
		}
		span{
			color: white;
			font-family: "Arial Narrow";
			font-size: 10px;
			font-weight: 400;
			text-transform: uppercase;
			float: right;
			padding: 12px 0 11px 22px;
			margin: 13px 0 7px 0;
			position: relative;
			@media(max-width:490px){
				float:none;
				display: inline-block;
				padding-top: 20px;
				padding-left: 15px;
			}
			&:before{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 2px;
				background: #fff;
			}
		}
	}
	.get_call{
		float:right;
		padding: 22px 0 14px 0;
		@media(max-width:490px){
			float:none;
			text-align: center;
		}
		.phone{
			color: white;
			font-family: Tahoma;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			position: relative;
			padding-left: 25px;
			display: inline-block;
			
			&:before{
				content:'';
				position: absolute;
				top: 5px;
				left: 0;
				width: 16px;
				height: 16px;
				background: url(../img/call-icon.png) no-repeat;
			}
		}
		span{
			color: white;
			font-family: "Arial Narrow";
			font-size: 8px;
			font-weight: 400;
			text-transform: uppercase;
			display:block;	
			text-align: right;
			@media(max-width:490px){
				text-align: center;
			}
		}
	}
}
.wrap{
	position: relative;
	.pattern{
		position: absolute;
		width: 40%;
		height: 50%;
		top: 50%;
		left: 0;	
		background: url(../img/pattern.png) no-repeat;
	}
	
}
.banner{
	background: url(../img/banner.png) no-repeat;
	background-size: cover;
	position: relative;
	padding: 75px 0 635px 0;
	text-align: center;
	@media(max-width:991px){
		padding-bottom: 100px;
	}
	h1{
		color: white;
		font-family: Oranienbaum;
		font-size: 48px;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 30px;
		line-height: 48px;
		@media(max-width:490px){
			font-size:40px;
			line-height: 40px
		}
	}
	.descr{
		color: white;
		font-family: Oranienbaum;
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 0;
		@media(max-width:490px){
			font-size:19px;
			line-height: 19px
		}
	}
	.form{
		position: absolute;
		right: 0;
		top: 300px;
		width: 492px;
		height: 265px;
		text-align: left;
		border-radius:0;
		cursor:pointer;
		transition:all ease-out 1s;
		padding: 26px 121px 15px 46px;
		background: #ccb599 url(../img/bg.png) no-repeat 90% 0;
		background-size: contain;
		transition:all .4s ease-in-out;
		@media(max-width:991px){
			position: static;
			margin-top: 50px;
			padding-right: 46px;
			margin: 50px auto 0 auto;
			width: 70%;
		}
		@media(max-width:767px){
			width: 80%;
		}
		@media(max-width:550px){
			width: 100%;
		}
		&:hover{
			border-top-left-radius:10px;
			border-bottom-left-radius:10px;
			cursor:pointer;
			padding-right:141px;
			width: 512px;
			@media(max-width:991px){
				border-radius:10px;
				width: 80%;
				padding-right: 46px;
			}
			@media(max-width:550px){
				width: 100%;
			}
		}
		.header{
			color: white;
		}
		.btn{
			color: white;
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			border: 1px solid #f8f3ee;
			background-color: transparent;
			padding: 10px 30px;
			display: block;
			margin: 0 auto;
			border-radius:0;
			transition:all .4s ease-out;
			&:hover{
				border-radius: 4px;
				color:#e7e7e7;
				background: #CCB55F;
			}
			
		}
	}
}
.welcome{
	padding: 40px 0;
	background: #f8f3ee;
	h2{
		margin-top: 0;
		color: #2d2d2d;
		font-family: Oranienbaum;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
	}
	p{
		color: #282828;
		font-family: Tahoma;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
	}
}