.work_process{
	padding-bottom: 50px;
	overflow:hidden;
	h2{
		color: #486933;
	}
	.item{
		padding: 0 60px;
		margin-bottom: 60px;
		.info{
			@extend .list
		}
		&:last-child{
			margin-bottom: 10px;
		}
	}
}

.documents{
	color:#fff;
	background: #486933 url(../img/sert_2.png) no-repeat 46% 85%;
	overflow:hidden;
	padding: 50px 75px 300px 75px;
}
.list_documents{
	padding-top: 20px;
	padding-left: 0;
	text-align: left;
	li{
		font-size: 24px;
		font-weight: 300;
		line-height: 34px;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
		span{
			font-weight: 700;
		}
	}
}

.free_consult{
	padding: 20px;
	background: $background;
	color:#fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	.tel{
		font-family: Lasco;
		color: #f8f8fa;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
	}
	.btn{
		border:0;
		text-shadow: 0 0 10px white;
		color: #224784;
		font-family: Lasco;
		font-size: 11px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 12px 17px;
		background: url(../img/button_menu.png) no-repeat;
		cursor:pointer;
		span{
			font-weight: 700;
		}
	}
}


.book_a_consultation{
	padding: 43px 43px 10px 43px;
	h3{
		position: relative;
		line-height: 35px;
		&::after{
			content:"";
			height: 50px;
			width: 42px;
			background: url(../img/arrow_to_button.png) no-repeat;
			position: absolute;
			top: -50px;
			right: 25px;
		}
		.now{
			background: url(../img/now.png) no-repeat 15px 25px;
			padding: 10px 0;
		}
		.free_book{
			background: url(../img/free.png) no-repeat 41px 30px;
			padding: 10px 0;
		}
	}
	.book{
		margin-top: 15px;
		position: relative;
		width: 262px;
		height: 334px;
		display: inline-block;
		.sticker{
			position: absolute;
			width: 155px;
			height: 125px;
			top: 44px;
			right:-40px;
			background: url(../img/sticker.png) no-repeat 0 0;
			p{
				color: #224784;
				font-family: Lasco;
				font-size: 13px;
				font-weight: 700;
				line-height: 16px;
				margin-right: 15px;
				.big{
					color: #224784;
					font-family: Lasco;
					font-size: 42px;
					font-weight: 400;
					line-height: 42px;
				}
			}
		}
	}
}

.packets{
	h2{
		color:#224784;
	}
	.bxslider .slide{
		.price{
			color: #224784;
			font-family: Lasco;
			font-size: 34px;
			font-weight: 700;
			line-height: 20px;
			margin: 15px 0;
		}
		.text{
			color: black;
			font-size: 12px;
			font-weight: 300;
			line-height: 20px;
			padding: 0 65px;
		}
		.btn{
			text-shadow: 0 0 10px white;
			color: #224784;
			font-family: Lasco;
			font-size: 22px;
			font-weight: 700;
			border:none;
			padding: 20px 40px;
			background: url(../img/button_send.png) no-repeat center center;
			cursor:pointer;
		}
	}
	.wrap{
		height: 500px;
		width: 350px;
		padding-top: 80px;
		margin: 0 auto;
		background: url(../img/packet_1.png) no-repeat -56px -66px;
	}
	.wrap_1{
		@extend .wrap;
		background: url(../img/packet_2.png) no-repeat -56px -76px;
	}
	.wrap_2{
		@extend .wrap;
		background: url(../img/packet_3.png) no-repeat -56px -66px;
		h3{
			margin-top: 55px;
		}
		.btn{
			margin-top: 30px;
		}
	}
	.packet_btn{
		text-shadow: 0 0 9px white;
		color: white;
		font-family: Lasco;
		font-size: 18px;
		font-weight: 700;
		line-height: 16px;
		border:none;
		padding: 15px 120px;
		margin-bottom: 20px;
		cursor:pointer;
		background: url(../img/button_packs.png) no-repeat;
		position: relative;
		&::after{
			content:'';
			position:absolute;
			width: 30px;
			height: 47px;
			background: url(../img/arrow_compare.png) center center;
			right:0;
			top:-60px;
		}
	}
}

.free_bonuses{
	padding: 30px 0;
	.list {
		padding: 0 70px;
	}
	.list li{
		color: black;
		line-height: 20px;
		margin-bottom: 20px;
	}
}

.quality{
	background: #eaeff8;
	padding: 0 60px 60px 60px;
	.item{
		margin-bottom: 80px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	h2{
		margin-top: 0;
		padding-top: 30px;
		margin-bottom: 40px;
		color: #4867a0;
	}
	h3{
		text-align: left;
		color: black;
		font-family: Lasco;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		&::before{
			content:'.';
			color: black;
			font-family: Lasco;
			font-size: 35px;
			font-weight: 700;
			text-transform: uppercase;
			position: absolute;
			top: -22px;
			left: -17px;
		}
	}
	p{
		text-align: left;
		color: #535353;
		font-size: 14px;
		font-weight: 300;
		line-height: 25px;
	}
}

.about_company{
	padding: 0 20px 0 20px;
	h2{
		padding-top: 15px;
		color: #486933;
	}
	.text{
		color: black;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		text-align: left;
		margin:20px 0;

	}
}

.faq{
	padding: 25px 0;

	h2{
		color: #224784;
		margin: 0;
		padding: 18px 0;
	}
	.item{
		text-align: left;
		overflow:hidden;
		padding: 30px 0 23px 0;
		&:last-child{
			background: none;
		}
		.question{
			color: black;
			font-size: 15px;
			font-weight: 300;
			margin: 0;
			padding: 0 90px 0 30px;
			cursor:pointer;
			position: relative;
		}
		.arrow{
			width: 55px;
			height: 29px;
			position:absolute;
			top:6px;
			right:22px;
			background: url(../img/arrow_for_questions.png) no-repeat 95% -5px;;
		}
		.answer{
			color: black;
			font-size: 12px;
			font-weight: 300;
			display: none;
			padding-left: 30px;
			margin-bottom: 0;
		}
	}
	
	.big{
		background-position: 0 127%;
	}
}