@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Helios';
  src: url('../fonts/Helios.eot?#iefix') format('embedded-opentype'),  url('../fonts/Helios.otf')  format('opentype'),
	     url('../fonts/Helios.woff') format('woff'), url('../fonts/Helios.ttf')  format('truetype'), url('../fonts/Helios.svg#Helios') format('svg');
  font-weight: normal;
  font-style: normal;
}




