.footer{
	padding: 38px 0;
	background: url(../img/footer_bg.png) no-repeat;
	background-size: cover;
	.left{
		text-align:left;
		color: white;
		font-family: Helios, sans-serif;
		font-size: 13px;
		font-weight: 400;
		.link{
			color:#3caba2;
		}
		@media screen and (max-width:991px){
			text-align: center;
			margin-bottom: 15px;
		}
	}
	.right{
		text-align: right;
		color: white;
		font-family: Helios, sans-serif;
		font-size: 13px;
		font-weight: 400;
		@media screen and (max-width:991px){
			text-align: center;
		}
	}
}