
/* font-family: "segoe-condensed"; */
@font-face {
    font-family: "segoe-condensed";
    src: url("../fonts/segoe-condensed.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}