.header{
	background: #fff url(../img/header_bg.png) no-repeat center center;
	background-size: cover;
	opacity:0;
	@media(max-width:991px){
		background: #fff url(../img/bg_1.png) no-repeat fixed;
	}
	.nav{
		padding: 12px 0;
		transition:all .2s ease-out;
		position: fixed;
		width: 100%;
		z-index: 900;
		@media(max-width:991px){
			position: static;
		}
		.logo{
			margin-bottom: 10px;
			img{
				position: relative;
				top:15px;
				@media(max-width:450px){
					width: 90px;
				}
			}
		}
		.wrap{
			text-align: center;
			@media(max-width:991px){
				margin-top: 15px;
			}
			a{
				display: inline-block;
				color: rgba(254, 246, 246, .5);
				font-size: 20px;
				font-weight: 700;
				line-height: 31px;
				margin: 5px 10px;
				position: relative;
				@media(max-width:520px){
					font-size: 16px;
				}
				&.active{
					color: #fbf8f8;
					&:after{
						content:'';
						position: absolute;
						width: 80%;
						height: 3px;
						background-color: #fefbfb;
						bottom:-6px;
						left: 50%;
						margin-left: - 40%;
					}
				}
			}
		}
	}
	.wrap_line{
		border-bottom:1px solid  #fefcfc;
	}
	.block_phone_sm{
		display: none;
		@media(max-width:450px){
			font-size: 14px;
			margin-top: 10px;
		}
		a{
			color: #fefcfc;
			font-family: Roboto;
			font-size: 20px;
			font-weight: 400;
			line-height: 26px;
			@media(max-width:991px){
				font-size: 16px;
			}
			@media(max-width:390px){
				font-size: 14px;
			}
			.fa{
				display: inline-block;
				margin-right: 8px;
				color: #be4b4b;
				font-size: 25px;
				position: relative;
				top: 3px;
				@media(max-width:390px){
					margin-right: 4px;
					font-size: 18px;
				}
			}
		}
		@media(max-width:991px){
			display:block;
			text-align: center;
			padding-top: 35px;
		}
		@media(max-width:510px){
			text-align: left;
			padding-left: 110px;
		}
		@media(max-width:450px){
			padding-left: 90px;
			padding-top: 20px;
		}
	}
	.wrap_slide{
		.row{
			@media(max-width:767px){
				margin: 0;
			}
		}
	}
	.section_toggle{
		@media(max-width:991px){
			text-align: center;
			padding-top: 50px;
			width: 100%;
			display: none;
		}
	}
}
.title{
	text-align: center;
	color: #fefcfc;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	padding: 20px 0;
	strong{
		color: #be4b4b;
	}
	@media(max-width:1199px){
		font-size: 16px;
	}
}
.social{
	li{
		padding: 35px 0;
		@media(max-width:1199px){
			padding: 30px 0;
		}
		@media(max-width:991px){
			float:none;
			display: inline-block;
		}
		@media(max-width:767px){
			float:none;
			display:block;
			padding:0;
			margin-bottom: 20px;
		}
		a{
			color: #fefcfc;
			font-family: Roboto;
			font-size: 20px;
			font-weight: 400;
			line-height: 26px;
			padding-left: 30px;
			@media(max-width:1199px){
				font-size: 16px;
				padding-left:15px;
			}
			.fa{
				display: inline-block;
				margin-right: 8px;
				color: #be4b4b;
				font-size: 25px;
				position: relative;
				top: 3px;
			}
		}
	}
}
.banner{
	padding-top: 130px;
	padding-bottom: 250px;
	@media(max-width:1450px){
		padding-bottom:260px;
	}
	@media(max-width:991px){
		padding-bottom: 100px;
		padding-top: 0;
	}
	.container{
		position: relative;
	}
	h1{
		margin-top: 50px;
		margin-bottom: 30px;
		padding: 12px 20px;
		color: #fbf8f8;
		font-family: Roboto;
		font-size: 38px;
		text-align: center;
		font-weight: 700;
		line-height: 54px;
		@media(max-width:1199px){
			margin-top: 35px;
			font-size: 35px;
			padding: 6px 16px;
		}
		@media(max-width:767px){
			margin-top: 20px;
			font-size: 28px;
			padding: 6px 16px;
		}
	}
	.items{
		margin-bottom: 60px;
		padding-left: 90px;
		@media(max-width:1199px){
			padding-left:65px;
		}
		li{
			float: none;
			color: #3d3d3d;
			font-family: Roboto;
			font-size: 18px;
			line-height: 35px;
			font-weight: 400;
			.list_style{
				width: 16px;
				height: 16px;
				display: inline-block;
				border:1px solid #be4b4b;
				border-radius:16px;
				margin-right: 12px;
				position: relative;
				top:2px;
				.inner{
					width: 10px;
					height: 10px;
					border-radius:10px;
					position: relative;
					top:50%;
					left: 50%;
					margin-top: -5px;
					margin-left: -5px;
					display: block;
					background: #be4b4b;
				}
			}
		}
	}
	.wrap_form{
		text-align: center;
		padding-left:30px;
		.leave{
			margin-bottom: 30px;
			color: #fef6f6;
			font-family: Roboto;
			font-size: 22px;
			font-weight: 500;
			line-height: 31px;
		}
		.form{
			.field, .btn{
				width: 240px;
				vertical-align: top;
				@media(max-width:576px){
					width: 80%;
				}
				@media(max-width:480px){
					width: 220px;
				}
			}
			.field{
				margin-right: 3%;
				height: 52px;
				background-color: white;
				border: 1px solid #c3c4c2;
				border-radius: 5px;
				color: #222;
				font-family: Roboto;
				font-size: 14px;
				font-weight: 400;
				text-align: center;
				@media(max-width:576px){
					margin-bottom: 25px;
					margin-right: 0;
				}
				&::-webkit-input-placeholder{
					color: #a8a8a5;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 400;
				}
				&::-moz-placeholder{
					color: #a8a8a5;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 400;
				}
				&:-ms-input-placeholder{
					color: #a8a8a5;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 400;
				}
				&::placeholder{
					color: #a8a8a5;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 400;
				}
			}
			.btn{
				color: #f9f9f9;
				font-family: Roboto;
				font-size: 18px;
				font-weight: 700;
				line-height: 20px;
				height: 50px;
				background-color: #be4b4b;
				border-radius: 5px;
				text-align: center;
				border: none;
				transition:.5s ease-out all;
				@media(max-width:576px){
					width: 50%;
				}
				@media(max-width:480px){
					width: 220px;
				}
				&:hover{
					background: #373636;
				}
			}
		}
	}
	.social_wrap{
		position: absolute;
		width: 40px;
		height: 210px;
		right: 0;
		top: 35%;
		@media(max-width:991px){
			position: static;
			width: auto;
			height: auto;
			text-align: center;
			margin-top: 100px;
		}
	}
	.list_social{
		li{
			float:none;
			display: block;
			margin-bottom: 60px;
			text-align: right;
			@media(max-width:991px){
				display: inline-block;
				margin: 0 30px;
			}
			a{	
				display: inline-block;			
				.fa{
					color: #fff;
					font-size: 25px;
					transition:color ease-out .5s;
					@media(max-width:767px){
						margin-left: 20px;		
					}
					&:hover{
						color: #be4b4b;
					}
				}
			}
		}
	}
}
