.wrapper{
	height: 100vh;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: url(../img/ex9.png) no-repeat center center;
	background-size: cover;
	.info{
		margin: auto;
		text-align: center;
		padding-left: 400px;
		@media(max-width:1199px){
			padding-left: 0;
		}	
		h1{
			margin-bottom: 30px;
			padding: 12px 20px;
			position: relative;
			color: red;
			font-family: Roboto;
			font-size: 40px;
			line-height: 45px;
			font-weight: 500;
			@media(max-width:991px){
				font-size: 30px;
				line-height: 35px;
			}
			@media(max-width:450px){
				font-size: 25px;
				line-height: 30px;
			}
		}
		.back{
			color: #222;
			font-family: Roboto;
			font-size: 40px;
			line-height: 45px;
			font-weight: 700;
			@media(max-width:991px){
				font-size: 30px;
				line-height: 35px;
			}
			@media(max-width:450px){
				font-size: 25px;
				line-height: 30px;
			}
		}
	}
}