/*=====================COMMON STYLES======================*/
*{
	outline:none;
}

body{
	font-family: Roboto;
	min-width: 350px;
}

section{
	position: relative;
}


ul{
	padding: 0;
	margin: 0;
	li{
		float: left;
		list-style: none;
	}
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h2{
	font-family: Roboto;
	font-size: 35px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: 300;
	position: relative;
	text-align: center;
	padding-bottom: 30px;
	margin-bottom: 55px;
	strong{
		font-weight: 900;
	}
	&:after{
		content:'';
		position: absolute;
		width: 50px;
		height: 4px;
		bottom: 0;
		left: 50%;
		margin-left: -25px;
	}
	@media(max-width:1199px){
		font-size: 30px;
		margin-bottom: 40px;
	}
	@media(max-width:767px){
		font-size: 28px;
	}
	@media(max-width:550px){
		font-size: 25px;
	}
}


h3{
	color: white;
	font-family: Roboto;
	font-size: 28px;
	line-height: 20px;
	font-weight: 400;
	span{
		font-weight: 700;
	}

}

h4{
	font-family: Roboto;
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
	position: relative;
	&:after{
		content:'';
		position: absolute;
		width: 36px;
		height: 1px;
		bottom: 0;
		left: 50%;
		margin-left: -18px;
	}
}

p{
	margin: 0;
}

a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
	&:active, &:focus{
		outline:none;
	}
}

button{
	border:none;
}
.cliarfix:before,
.cliarfix:after {
	content: "";
	display: table;
}

.cliarfix:after {
	clear: both;
}

.cliarfix {
	clear: both;
}

.img-responsive{
	width:100%;
	height: auto;
}

button, 
button:active, 
button:focus,
input:focus {
	outline: none;
}

input[type=text], input[type=email]{
	padding: 0 10px;
}

.last{
	.wrap_icon{
		&:after{
			display: none!important;
		}
	}
}


.sticky{
	width: 100%;
	background: #efefef;
	@media(max-width:991px){
		background: transparent;
	}
	.wrap{
		display: none;
	}
	.block_phone_sm{
		color: #373636;
	}
	.title{
color: #373636;
	}
	.social li a{
color: #373636;
	}
	.logo img{
		margin-bottom: 0;
		top:0!important;
	}
	.wrap_line{
		border-bottom:none!important;
		padding-bottom: 0!important;
		@media(max-width:991px){
			border-bottom:2px solid rgba(88, 86, 86, .6)!important;
			padding-bottom: 10px!important;
		}
	}
}

		.slick{
			width: 260px;
			height: 61px;
			position: fixed;
			bottom:30px;
			right: 5%;
			z-index: 500;
			@media(max-width:1199px){
				bottom: -30%;
			}
			@media(max-width:991px){
				bottom: -33%;
			}
			@media(max-width:700px){
				display: none;
			}
			.button_slick{
				background: #fefafa;
				padding: 16px 10px;
				color: #be4b4b;
				font-size: 16px;
				font-weight: 700;
				line-height: 18px;
				border: 3px solid #d56161;
				border-radius: 5px;
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
				img{
					display: inline-block;
					margin-left: 8px;
					position: relative;
					top:-3px;
				}
			}
		}


/*=====================menu toggle===============================*/


.menu_toggle{
	display: none;
	@media(max-width:991px){
		display:block;
		text-align: right;
		padding-top: 35px;
	}
	@media(max-width:430px){
		padding-top: 30px;
	}
}

.menu {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 32px;
	padding: 0;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	@media(max-width:767px){
		width: 30px;
		height: 22px;
	}
	&__line {
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}

	&__line--1 {
		top: 0;
		transition: all .4s;
	}

	&__line--2 {
		top: 50%;
		margin-top: -1px;
		transition: all .4s;
	}

	&__line--3 {
		bottom: 0;
		transition: all .4s;
	}
}

.menu--active {

	& .menu__line {
		background-color: #fff;
		transition: all .4s;
	}

	& .menu__line--1 {
		top: 50%;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	& .menu__line--2 {
		opacity: 0;
	}

	& .menu__line--3 {
		top: 50%;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}


/*===============================loader======================================*/

.loader_wrap{
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 999;
	background: rgba(0, 0, 0, .8);
}

#bars {
	height: 30px;
	left: 50%;
	margin: -30px 0 0 -20px;
	position: absolute;
	top: 50%;
	width: 40px;
}

.bar {
	background: #be4b4b;
	bottom: 1px;
	height: 3px;
	position: absolute;
	width: 3px;      
	-webkit-animation: sound 0ms -800ms linear infinite alternate;      
	animation: sound 0ms -800ms linear infinite alternate;
}

@-webkit-keyframes sound {
	0% {
		opacity: .35;
		height: 3px; 
	}
	100% {
		opacity: 1;       
		height: 28px;        
	}
}

@keyframes sound {
	0% {
		opacity: .35;
		height: 3px; 
	}
	100% {
		opacity: 1;       
		height: 28px;        
	}
}

.bar:nth-child(1)  { left: 1px; -webkit-animation-duration: 474ms; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; -webkit-animation-duration: 433ms; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; -webkit-animation-duration: 407ms; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; -webkit-animation-duration: 458ms; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; -webkit-animation-duration: 400ms; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; -webkit-animation-duration: 427ms; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; -webkit-animation-duration: 441ms; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; -webkit-animation-duration: 419ms; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; -webkit-animation-duration: 487ms; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; -webkit-animation-duration: 442ms; animation-duration: 442ms; }



/*=============================================to top===========================================*/



.scroll{
	position: fixed;
	right: 20px;
	top:90%;
	cursor: pointer;
	display: none;
	width: 50px;
	height: 50px;
	border-radius:50px;
	background:#222;
	z-index: 999;
}

.scroll .arrow{
	position: absolute;
	width: 30px;
	height: 30px;
	left: 50%;
	top: 30%;
	margin-left: -15px;
	margin-top: -15px;
	background: transparent;
	border-top:15px solid transparent;
	border-left:15px solid transparent;
	border-bottom:15px solid #fff;
	border-right:15px solid transparent;
}


/*buttons*/

.btn, .button{
	position: relative;
	transition-duration: 0.3s;
	transition-property:-webkit-transform;
	transition-property:transform;
	transition-property: transform, -webkit-transform;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-animation-name: hover;
	animation-name: hover;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	transition:.5s ease-out all;
}




@-webkit-keyframes hover {

	0% {
		-webkit-transform: translateY(-3px);
		-ms-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	100%{
		-webkit-transform: translateY(3px);
		-ms-transform: translateY(3px);
		transform: translateY(3px);
	}
}




@keyframes hover {

	0% {
		-webkit-transform: translateY(-3px);
		-ms-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	100%{
		-webkit-transform: translateY(3px);
		-ms-transform: translateY(3px);
		transform: translateY(3px);
	}
}



/*===========================gallery===========================*/


.mfp-counter{
	display: none;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}