.footer{
	padding: 70px 0 50px 0;
	background: url(../img/footer_bg.png) no-repeat bottom;
	@media screen and (max-width:767px){
		padding-bottom: 0;
		background: none;
	}
	.footer_top{
		.list_social{
			text-align: center;
			@media screen and (max-width:767px){
				margin-bottom: 30px;
			}
			li{
				display: inline-block;
				margin: 50px 30px;
				@media screen and (max-width:767px){
					margin: 20px 10px;
				}
				@media screen and (max-width:560px){
					width: 45%;
					margin: 20px 0;
				}
				a{
					display: inline-block;
					width: 104px;
					height: 52px;
					background: url(../img/social_bg.png) no-repeat;
					background-size: 100% 100%;

					&:hover .fa{
						color:#f1d90f;
					}
					.fa{
						font-size: 30px;
						line-height: 50px;
						transition:color .5s ease;
					}
				}
			}
			margin-bottom: 100px;
		}
	}
	.footer_bottom{
		@media screen and (max-width:767px){
			background: #74baed;
			padding-top: 20px;
		}
		.address{
			color: white;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
		}
		.conacts{
			text-align: center;
			color: white;
			font-weight: 400;
			line-height: 24px;
			font-size: 14px;
			a{
				font-size: 18px;
			}
		}

		.copy{
			text-align: right;
			opacity: 0.4;
			color: white;
			font-size: 16px;
			font-weight: 400;
			padding-top: 20px;
			transition: opacity .4s ease-out;
			&:hover{
				opacity:1;
			}
			@media screen and (max-width:767px){
				padding-top: 0;
			}
		}
		.item{
			@media screen and (max-width:767px){
				text-align: center;
				margin-bottom: 20px;
			}
		}
	}
}