/*=====================COMMON STYLES======================*/
*{
	outline:none;
}
*:focus{
	outline: none;
}

body{
	min-width: 350px;
}

section{
	position: relative;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


p{
	margin: 0;
}

a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

.cliarfix:before,
.cliarfix:after {
	content: "";
	display: table;
}

.cliarfix:after {
	clear: both;
}

.cliarfix {
	clear: both;
}

.img-responsive{
	width:100%;
	height: auto;
}

button, 
button:active, 
button:focus,
input:focus {
	outline: none;
}


