header, footer, nav, article, aside, details,
figcaption, figure, main, section, legend {
	display: block; }

abbr {
	border-bottom: none;
}

abbr {
	text-decoration: none;
}

abbr[title], acronym[title] {
	border-bottom-width: 0;
}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-size: 100%; 
}



@keyframes down-up {
	from {bottom: 5px;}
	50% {bottom: 10px;}
	to {bottom: 5px;}
}

/*--------------------------------------------------------*/
/*---------------------- start mixins --------------------*/
/*--------------------------------------------------------*/

@mixin fontText ($fontFamily, $fontSize, $fontWeight, $lineHeight, $color) {
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: $fontWeight;
	line-height: $lineHeight;
	color: $color;
}

@mixin sprite ($bgImage, $noRepeat, $width, $height, $bgPosition) {
	background-image: $bgImage;
	background-repeat: $noRepeat;
	width: $width;
	height: $height;
	background-position: $bgPosition;
}

/*--------------------------------------------------------*/
/*---------------------- end mixins ----------------------*/
/*--------------------------------------------------------*/

.button-white,
.button-beige {
	display: inline-block;
	background-color: transparent; 
	min-width: 337px;
	padding: 7px;
	text-align: center;
	border: 2px solid #fff;
	margin-bottom: 40px;
	@include fontText ("segoe-condensed", 156%, 400, 156%, #fff);
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	
	&:hover {
		border: 2px solid #9a9835;
	}
}

.button-beige {
	min-width: 214px;
	border: 2px solid #fff9ca;
	color: #FFF9CA;
	font-size: 100%; 
}

.down {
	position: relative;
	display: inline-block;
	margin-bottom: 50px;
	
	.arrows {
		position: absolute;
		left: 10px;
		bottom: 5px;
		animation: down-up 1s infinite ease-in-out;
	}
}

#rock {
	padding-bottom: 66px;
}



/*----------------------------------------------------------------*/
/*---------------------- start bg-first-block --------------------*/
/*----------------------------------------------------------------*/

.bg-first-block {
	background: 2d292f; 
	background-image: url(../images/bg-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;  
	
	.header {
		overflow: hidden;
		width: 950px;
		margin: 0 auto;
		padding: 22px 0 80px;
		
		.logo-block {
			padding-top: 8px;
			float: left;
			@include fontText ("segoe-condensed", 113%, 400, 117%, #fff);
			
			.logo {
				display: inline-block;
				float: left;
				margin-right: 20px;
			}
		}

		.phone-block {
			float: right;
			
			a {
				display: block;
				@include fontText ("segoe-condensed", 155%, 400, 111%, #fff);
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.block-under-header {
		width: 740px;
		margin: 0 auto;
		text-align: center;

		.banner-title {
			padding-bottom: 180px;
			@include fontText ("segoe-condensed", 622%, 400, 84%, #fff);
			
			span {
				font-size: 64%;
				color: #B4B22D; 
				display: block;
			}
		}

		.get {
			padding-bottom: 35px;
			@include fontText ("segoe-condensed", 181%, 400, 126%, #fff);
			
			span {
				color: #9a9835;
				text-transform: uppercase;
			}
		}
	}
}

/*----------------------------------------------------------------*/
/*----------------------- end bg-first-block ---------------------*/
/*----------------------------------------------------------------*/



/*----------------------------------------------------------------*/
/*----------------------- start second-block ---------------------*/
/*----------------------------------------------------------------*/

.second-block {
	background: 2d292f; 
	background-image: url(../images/bg-second-block.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 95px;
	background-attachment: fixed;
	
	.content-block {
		width: 1200px;
		margin: 0 auto;
		
		.title {
			@include fontText ("segoe-condensed", 313%, 400, 126%, #fff);
			text-align: center;
		}
	}
	
	.stone-soul {
		position: relative;
		border: 6px solid #d8cdc2;
		padding: 17px 130px 60px;
		
		&:before {
			content: "";
			position: absolute;
			top: -6px;
			left: 50%;  
			width: 622px;
			margin-left: -311px; 
			height: 6px;
			background: #28252a; 
		}

		.title-top {
			position: relative;
			width: 730px;
			margin: 0 auto;
			top: -54px;
		}

		img {
			margin-right: 70px;
			padding: 7px;
			border: 7px solid #d8cdc2;
			float: left;
		}

		.text-block {
			overflow: hidden;
			width: 480px;
			
			p {
				padding-bottom: 20px;
				@include fontText ("segoe-condensed", 155%, 400, 122%, #fff);
			}
		}
	}

	.trust {
		padding-top: 110px;
		
		.title {
			padding-bottom: 88px;
		}

		ul {
			width: 1116px;
			margin: 0 auto;
			display: flex;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			
			li {
				width: 25%;
				padding: 0 15px; 
				text-align: center;
				
				.img-box {
					min-height: 118px; 
				}

				.title-block {
					position: relative;
					padding-bottom: 45px;
					text-transform: uppercase;
					text-align: center;
					@include fontText ("segoe-condensed", 156%, 400, 140%, #fff);
					
					&:after {
						content: "";
						position: absolute;
						bottom: 17px;
						left: 50%;
						width: 96px;
						margin-left: -48px;
						height: 7px;
						background: #9b9922; 
					}
				}

				.subtitle {
					position: relative;
					border-bottom: 2px solid #535353;
					margin-bottom: 20px;
					text-align: center;
					padding: 0;
					padding-bottom: 4px;
					@include fontText ("segoe-condensed", 119%, 400, 207%, #fff);
					
					&:after {
						content: "";
						position: absolute;
						bottom: 38px;
						left: 50%;
						width: 26px;
						height: 5px;
						margin-left: -13px;
						background: #9b9922; 
					}
				}

				p {
					text-align: left;
					padding-left: 15px;
					padding-right: 15px;
					@include fontText ("segoe-condensed", 94%, 400, 130%, #fff);
				}
			}
		}
	}
}

/*----------------------------------------------------------------*/
/*------------------------ end second-block ----------------------*/
/*----------------------------------------------------------------*/



/*----------------------------------------------------------------*/
/*------------------------ start third-block ---------------------*/
/*----------------------------------------------------------------*/

.third-block {
	background: #2d292f; 
	background-image: url(../images/bg-third-block.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0;
	background-attachment: fixed;
	
	.mobile-book {
		display: none;
	}

	.content {
		position: relative;
		width: 1000px;
		margin: 0 auto;
		background: #9a9822;
		overflow: hidden;
		
		img {
			position: absolute;
			left: 23px;
			top: 64px;
		}
		
		.border-block {
			position: relative;
			overflow: hidden;
			margin: 25px;
			border: 4px solid #d3cb85;
			
			.tetx-block {
				width: 420px;
				float: right;
				
				.title {
					text-align: center;
					padding: 25px 0 60px 0;
					@include fontText ("segoe-condensed", 205%, 400, 230%, #fff);
					
					cite {
						display: block;
						@include fontText ("segoe-condensed", 129%, 400, 105%, #fff);
					}
				}

				p {
					padding: 0 15px;
					@include fontText ("segoe-condensed", 131%, 400, 130%, #2f2a2c);
					padding-bottom: 47px;
					
					&:last-child {
						padding: 0;
						text-align: center;
						
						.button-white {
							font-size: 117%;
							margin-bottom: 51px;
							
							&:hover {
								border-color: #FFF; 
							}
						}
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*/
/*------------------------ end third-block -----------------------*/
/*----------------------------------------------------------------*/



/*----------------------------------------------------------------*/
/*---------------------- start fourth-block ----------------------*/
/*----------------------------------------------------------------*/

.fourth-block {
	background: #2D292F;
	padding-bottom: 110px;
	
	.content {
		position: relative;
		width: 1000px;
		margin: 0 auto;
		
		.title {
			@include fontText ("segoe-condensed", 313%, 400, 126%, #fff);
			text-align: center;
			padding: 0;
		}

		.first-title {
			padding: 38px 0px 54px !important;
		}

		.under-title {
			@include fontText ("segoe-condensed", 159%, 400, 186%, #fff);
			text-align: center;
			padding: 0px 0 35px;
		}

		.photo-description-block {
			padding-bottom: 66px;
		}

		.line-block {
			position: relative;
			display: flex;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			    
			.number-block {
				position: absolute;
				left: 50%;
				top: 70px;
				margin-left: -44px;
				width: 88px;
				height: 88px;
				text-align: center;
				@include fontText ("segoe-condensed", 191%, 400, 290%, #e5e5e5);
				background: #9b9922;
				z-index: 1;
			}
			    
			.left-half,
			.right-half {
				position: relative;
				width: 50%;
				background: #463f42;
				
				p {
					@include fontText ("segoe-condensed", 100%, 400, 150%, #e5e5e5);
					padding: 0 47px 25px 90px;
					
					&:last-child {
						text-align: center;
						padding: 0;
						
						a {
							padding: 4px;
							margin-bottom: 0; 
						}
					}
				}

				.text-align-left {
					text-align: left;
					padding: 0 40px 25px 80px;
				}

				.text-align-right {
					text-align: right;
					padding: 0 80px 25px 40px;
				}

				.title {
					position: relative;
					padding: 17px 0 19px;
					@include fontText ("segoe-condensed", 213%, 400, 126%, #e5e5e5);
					text-align: center;
					
					&:after {
						content: "";
						display: block;
						width: 74px;
						height: 7px;
						position: absolute;
						left: 50%;
						bottom: 7px;
						margin-left: -37px;
						background: #9B9922;
					}
				}
			}

			.left-half .dots,
			.right-half .dots {
				position: absolute;
				right: 17px;
				bottom: 15px;
				
				li {
					display: block;
					float: left;
					width: 10px;
					height: 10px;
					background-color: #d8cdc2;
					margin-right: 6px;
					
					&:nth-child(2) {
						background-color: #9b9922;
					}
					
					&:last-child {
						margin-right: 0; 
					}
				}
			}

			.right-half .dots {
				left: 17px;
			}
		}

		.delivery-blocks {
			display: flex;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			padding-bottom: 30px;

			li {
				width: 33.33%;
				display: flex;
				position: relative;
				min-height: 250px;
				background-image: url(../images/delivery-1.jpg);
				background-size: cover;
				background-repeat: no-repeat;  
				-webkit-transition: 0.5s;
				-moz-transition: 0.5s;
				-ms-transition: 0.5s;
				-o-transition: 0.5s;
				transition: 0.5s;

				&:hover {
					background-color: teal;
					background-blend-mode: screen;
				}

				&:hover:before,
				&:hover:after {
					opacity: 1;
				}

				&:before {
					content: "";
					position: absolute;
					display: block;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					opacity: 0;
					background-color: #949221;
					background-image: url(../images/delivery-1.jpg);
					background-blend-mode: screen;
					-webkit-transition: 0.5s;
					-moz-transition: 0.5s;
					-ms-transition: 0.5s;
					-o-transition: 0.5s;
					transition: 0.5s;
				}

				&:after {
					content: "";
					position: absolute;
					display: block;
					left: 30px;
					top: 30px;
					width: calc(100% - 60px);
					height: calc(100% - 60px);
					border: 2px solid #58533a;
					opacity: 0;
					-webkit-transition: 0.5s;
					-moz-transition: 0.5s;
					-ms-transition: 0.5s;
					-o-transition: 0.5s;
					transition: 0.5s;
				}

				.title {
					position: relative;
					text-align: center;
					z-index: 1;
					margin: auto; 
					@include fontText ("segoe-condensed", 145%, 400, 189%, #e5e5e5);
					text-transform: uppercase;

					span {
						letter-spacing: 3px;
						display: block;
						@include fontText ("segoe-condensed", 64%, 400, 55%, #e5e5e5);
					}
				}
			}

			& + p {
				@include fontText ("segoe-condensed", 129%, 400, 186%, #fff);
				text-align: center;
				padding: 6px 0 41px;
			}

			br {
				display: none;
			}
		}

		.block-button {
			text-align: center;
			padding-bottom: 31px;
		}

		.title-contacts {
			padding-bottom: 35px;
		}

		.map-block {
			display: flex;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			background: #463f42;
			    
			    address {
			    	width: 40%;
			    	padding: 85px 0 48px 7%;
			    	
			    	p {
			    		padding-bottom: 21px;
			    		@include fontText ("segoe-condensed", 113%, 400, 128%, #d5d5d5);
			    		
			    		span {
			    			display: block;
			    			@include fontText ("segoe-condensed", 192%, 400, 106%, #d9d2ae);
			    			text-transform: uppercase;
			    		}

			    		a {
			    			display: block;
			    			text-decoration: none;
			    			@include fontText ("segoe-condensed", 100%, 400, 140%, #d5d5d5);
			    			
			    			&:hover {
			    				text-decoration: underline;
			    			}
			    		}
			    	}
			    }

			    .map {
			    	width: 60%;
			    }
		}
	}
}

/*----------------------------------------------------------------*/
/*------------------------ end third-block -----------------------*/
/*----------------------------------------------------------------*/



/*----------------------------------------------------------------*/
/*-------------------------- start footer ------------------------*/
/*----------------------------------------------------------------*/

.footer {
	background: #454348; 
	background-image: url(../images/bg-footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 128px 0 137px;

	.content {
		position: relative;
		width: 1000px;
		margin: 0 auto;
		
		.footer-menu {
			display: flex;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-justify-content: center;
			justify-content: center;
			border-top: 1px solid #6b696b;
			border-bottom: 1px solid #6b696b;
			margin-bottom: 66px;
			    
			   li {
			   		padding: 28px 20px;
			       
			       a {
			       		position: relative;
			       		display: block;
			       		letter-spacing: 6px;
			       		padding: 12px 0;
			       		text-decoration: none;
			    		@include fontText ("segoe-condensed", 114%, 400, 140%, #d5d5d5);
			    		
			    		&:after {
			    			content: "";
			    			display: block;
			    			position: absolute;
			    			bottom: 0;
			    			left: 0;  
			    			width: 100%;
			    			height: 0px;
							background-color: #9b9922;
							-webkit-transition: 0.5s;
							-moz-transition: 0.5s;
							-ms-transition: 0.5s;
							-o-transition: 0.5s;
							transition: 0.5s;
			    		}

			    		&:hover:after {
			    			height: 4px; 
			    		}
			       }
			   }
		}
	}

	p,
	p a {
		text-align: center;
		@include fontText ("segoe-condensed", 103%, 400, 135%, #d5d5d5);
	}

	p a {
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

/*----------------------------------------------------------------*/
/*-------------------------- end footer --------------------------*/
/*----------------------------------------------------------------*/



/*----------------------------------------------------------------*/
/*-------------------------- start form --------------------------*/
/*----------------------------------------------------------------*/

.fancybox-skin {
	padding: 0 !important;
	background: transparent !important;
}

.hidden {
	display: none;
}

#form-block {
	max-width: 1000px;
	width: 100%;
	background-image: url(../images/bg-form.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 45px 60px 60px 60px;

	p {
		@include fontText ("segoe-condensed", 148%, 400, 120%, #2b282d);
	}

	form {
		max-width: 450px;
		width: 100%;
		border: 2px solid #9b9922;
		padding: 12px;
		margin: 70px auto 0;
		
		input[type="text"],
		input[type="tel"],
		input[type="email"],
		textarea {
			display: block;
			width: 100%;
			height: 44px;
			border: 2px solid #9b9922;
			resize: none;
			background: transparent;
			margin-bottom: 14px;
			padding: 10px 30px;
			@include fontText ("segoe-condensed", 104%, 400, 108%, #2b282d);
			outline: none;
		}

		input[type="submit"] {
			display: block;
			width: 100%;
			background: #999833;
			@include fontText ("segoe-condensed", 104%, 400, 108%, #fff);
			text-align: center;
			padding: 10px;
			text-transform: uppercase;
			border: none;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-ms-transition: 0.5s;
			-o-transition: 0.5s;
			transition: 0.5s;
			
			&:hover {
				cursor: pointer;
				background: #8a892d;
			}
		}

		input[type="checkbox"] {
			float: left;
		}

		p {
			padding-top: 15px;
			margin-bottom: 30px;
			@include fontText ("segoe-condensed", 69%, 400, 115%, #3b3b3a);
			
			span {
				overflow: hidden;
			}

			a {
				color: #999833;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

/*----- start disappearing placeholder -----*/

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/*----- end disappearing placeholder -----*/