.wrap_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: none;
}

.modal_form_1 {
  margin-top: -190px;
  height: 210px;
}

.modal_form_1, .modal_form_2 {
  z-index: 1100;
  width: 600px;
  height: auto;
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  text-align: center;
}

.modal_form_1 .descr, .modal_form_2 .descr {
  color: #222;
  font-size: 25px;
  font-weight: 300;
  line-height: 31px;
  margin-bottom: 20px;
  padding-top: 10px;
}

@media (max-width: 650px) {
  .modal_form_1 .descr, .modal_form_2 .descr {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .modal_form_1, .modal_form_2 {
    width: 80%;
    margin-left: -40%;
  }
}

@media (max-width: 480px) {
  .modal_form_1, .modal_form_2 {
    width: 90%;
    margin-left: -45%;
  }
}

.modal_form_1 .closed, .modal_form_2 .closed {
  position: absolute;
  right: 2px;
  top: 6px;
  height: 30px;
  width: 30px;
  z-index: 1300;
}

.modal_form_1 .closed .fa, .modal_form_2 .closed .fa {
  color: #939292;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

.modal_form_1 .form, .modal_form_2 .form {
  cursor: pointer;
  z-index: 1100;
  width: 100%;
  height: 100%;
  position: absolute;
  height: auto;
  background: #fff;
  text-align: center;
  padding: 30px;
}

@media (max-width: 480px) {
  .modal_form_1 .form, .modal_form_2 .form {
    padding: 20px 10px;
  }
}

.modal_form_1 .form .field, .modal_form_2 .form .field {
  width: 70%;
  margin-bottom: 18px;
  height: 52px;
  background-color: white;
  border: 1px solid #c7c4c4;
  border-radius: 25px;
  box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.2);
  color: #222;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding: 0 30px;
}

@media (max-width: 650px) {
  .modal_form_1 .form .field, .modal_form_2 .form .field {
    width: 90%;
  }
}

@media (max-width: 490px) {
  .modal_form_1 .form .field, .modal_form_2 .form .field {
    margin-bottom: 25px;
    margin-right: 0;
  }
}

.modal_form_1 .form .field::-webkit-input-placeholder, .modal_form_2 .form .field::-webkit-input-placeholder {
  color: #939292;
  font-size: 16px;
  font-weight: 300;
  line-height: 52px;
}

.modal_form_1 .form .field::-moz-placeholder, .modal_form_2 .form .field::-moz-placeholder {
  color: #939292;
  font-size: 16px;
  font-weight: 300;
  line-height: 52px;
}

.modal_form_1 .form .field:-ms-input-placeholder, .modal_form_2 .form .field:-ms-input-placeholder {
  color: #939292;
  font-size: 16px;
  font-weight: 300;
  line-height: 52px;
}

.modal_form_1 .form .field::placeholder, .modal_form_2 .form .field::placeholder {
  color: #939292;
  font-size: 16px;
  font-weight: 300;
  line-height: 52px;
}

.modal_form_1 .form .area, .modal_form_2 .form .area {
  width: 70%;
  height: 245px;
  background-color: white;
  border: 1px solid #c7c4c4;
  border-radius: 25px;
  box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.2);
  color: #222;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding: 15px 30px;
  resize: none;
}

@media (max-width: 650px) {
  .modal_form_1 .form .area, .modal_form_2 .form .area {
    width: 90%;
  }
}

.modal_form_1 .form .area::-webkit-input-placeholder, .modal_form_2 .form .area::-webkit-input-placeholder {
  color: #939292;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.modal_form_1 .form .area::-moz-placeholder, .modal_form_2 .form .area::-moz-placeholder {
  color: #939292;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.modal_form_1 .form .area:-ms-input-placeholder, .modal_form_2 .form .area:-ms-input-placeholder {
  color: #939292;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.modal_form_1 .form .area::placeholder, .modal_form_2 .form .area::placeholder {
  color: #939292;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.modal_form_1 .form .button_modal, .modal_form_2 .form .button_modal {
  width: 60%;
  display: inline-block;
  margin-top: 20px;
  background-color: #f8489b;
  background-image: linear-gradient(to top, #e73589 0%, #f85ca6 100%);
  border: 1px solid #e22b81;
  border-radius: 29px;
  box-shadow: 0 3px 0 rgba(69, 1, 33, 0.5), inset 0 0 5px rgba(251, 251, 247, 0.2);
  color: #fbf8f9;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  transition: all .5s ease-out;
}

@media (max-width: 650px) {
  .modal_form_1 .form .button_modal, .modal_form_2 .form .button_modal {
    font-size: 18px;
    width: 240px;
  }
}

.modal_form_1 .form .button_modal:hover, .modal_form_2 .form .button_modal:hover {
  background-image: linear-gradient(to top, #e73589 0%, #f85ca6 100%);
  border: 1px solid #e22b81;
  border-radius: 29px;
  box-shadow: 0 0 14.1px 1.9px rgba(247, 90, 164, 0.5), inset 0 0 5px rgba(251, 251, 247, 0.2);
}
