.footer {

	.item{
		@media(max-width:767px){
			text-align: center;
			margin-bottom: 30px;
		}
		.socials{
			li{
				@media(max-width:767px){
					display: inline-block;
					float:none;
				}
			}
		}
	}
	.title{
		color: white;
		font-family: OpenSans;
		font-size: 15px;
		font-weight: 400;
		line-height: 15px;
		margin-bottom: 30px;
	}
	.text {
		color: #8297a7;
		font-family: OpenSans, sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}
	.socials li{
		@media(max-width:991px){
			margin-right: 5px;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	.copyright {
		color: #888;
		font-family: "Myriad Pro";
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		display: block;
		margin-bottom: 40px;
		margin-top: 50px;
		@media(max-width:767px){
			text-align: center;
		}
	}
}
