.header {
	position: relative;
	opacity:0;
	background: url(../img/header_bg.png) no-repeat center;
	background-size:  cover;
	min-height: 1600px;
	@media(max-width:1200px){
		min-height: 1450px;
	}
	@media(max-width:991px){
		min-height: 1100px;
	}
	@media(max-width:767px){
		min-height: 1000px;
	}
	.nav{
		padding-bottom: 15px;
		padding-top: 15px;
		transition:.5s;
		@media(max-width:991px){
			background: #161616;
			border-bottom:1px solid #000;
			padding: 10px 0;
		}
	}
	.header_logo{
		display: inline-block;
		padding-top: 15px;
		.logo_img{
			@media(max-width:767px){
				margin-left: 0;
				margin-right: 0;
			}
		}
.img-responsive{

}

	}
	.menu_items{
		@media(max-width:991px){
			padding: 10px 0;
		}
		.row{
			@media(max-width:991px){
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	.header__list{
		padding: 25px 0;
		@media(max-width:991px){
			text-align: center;
		}
		li{
			margin: 0 20px;
			@media(max-width:991px){
				float:none;
			}
		}
		a{
			color: white;
			font-family: "Times New Roman";
			font-size: 13px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
			transition:color ease-out .5s;
			@media(max-width:991px){
				font-size: 15px;
				line-height: 30px;
			}
			&:hover{
				color:#696969;
			}
		}
	}
	.header__tel{
		color: white;
		font-family: OpenSans;
		font-size: 24px;
		font-weight: 300;
		padding: 20px 0;
		text-transform: uppercase;
		@media(max-width:991px){
			display: none;
		}
	}

	.socials{
		display: none;
		@media(max-width:991px){
			display: block;
			text-align: center;
			li{
				float:none;
			}
		}
	}

	.banner{
		padding-top: 150px;
		hgroup{
			color:#fff;
		}
		&__title, &__sub-title {
			line-height: 102px;
			text-transform: uppercase;
			text-align: center;
			@media(max-width:767px){
				line-height: 40px;
			}
		}
		&__title {
			font-family: Panton;
			font-size: 150px;
			font-weight: 300;
			margin-top: 80px;
			@media(max-width:1199px){
				font-size: 120px;
			}
			@media(max-width:991px){
				font-size: 100px;
			}
			@media(max-width:991px){
				font-size: 80px;
				line-height: 80px;
			}
			@media(max-width:767px){
				font-size: 40px;
				line-height: 40px;
			}
		}
		&__sub-title {
			font-family: "Minion Pro";
			font-size: 69px;
			font-weight: 400;
			margin-top: 50px;
			color:#fff;
			@media(max-width:1199px){
				font-size: 50px;
			}
			@media(max-width:991px){
				font-size: 35px;
				margin-top: 20px;
			}
			@media(max-width:767px){
				font-size: 26px;
			}
		}
	}
	.desc-header {
		position: absolute;
		width: 80%;
		height: 240px;
		bottom: 110px;
		left: 50%;
		margin-left: -40%;
		@media(max-width:991px){
			bottom: 50px;
		}
		&__sub-title {
			color: #e75a46;
			font-family: Exo2;
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
			text-align: center;
		}
		&__title {
			color: #fff;
			font-family: Panton;
			font-size: 72px;
			font-weight: 300;
			line-height: 72px;
			margin: 25px 0;
			text-align: center;
			@media(max-width:991px){
				margin: 10px 0;
				font-size: 45px;
				line-height: 45px;
			}
		}
		&__description {
			color: #989898;
			font-family: "Open Sans";
			font-size: 19px;
			font-weight: 400;
			margin-top: 0;
			line-height: 24px;
			text-align: center;
			@media(max-width:991px){
				font-size: 16px;
				line-height: 18px;
			}
		}
	}
	.menu_items{
		@media(max-width:991px){
			display: none;
		}
	}
}