.icons-sprite, .icons-icon01, .icons-icon02, .icons-icon03, .icons-phone, .header-tel__phone:after, .list-icons__item:nth-child(1) .icon, .list-icons__item:nth-child(2) .icon, .list-icons__item:nth-child(3) .icon {
	background-image: url('../../img/icons-s0d5cfd1552.png');
	background-repeat: no-repeat;
}

.icons-icon01 {
	background-position: 0 0;
}

.icons-icon02 {
	background-position: 0 -66px;
}

.icons-icon03 {
	background-position: 0 -125px;
}

.icons-phone {
	background-position: 0 -184px;
}

body {
	-webkit-text-size-adjust: none;
	min-height: 320px;
}

/* INPUT STYLE IOS FIX */
input, textarea, select {
	-webkit-appearance: none;
	border-radius: 0;
}

/* WEBKIT INPUT OUTLINE */
input, textarea {
	outline: none;
}

.container{
	position: relative;
}

/* MARGIN & CLEAR FIX */
.container:before,
.container:after {
	content: "";
	display: table;
	clear: both;
}

.clr:after {
	content: "";
	display: table;
	clear: both;
}


.cliarfix:before,
.cliarfix:after {
	content: "";
	display: table;
}

.cliarfix:after {
	clear: both;
}

.cliarfix {
	clear: both;
}

.img-responsive{
	width:100%;
	height: auto;
}

/* HEADER */


.header {
	min-height: 75px;
	background-color: #0c676a;
}

.brand {
	margin-top: 18px;
	display: inline-block;
}

.header-menu li{
	float:left;
	position: relative;
}

.header-menu__item a{
	cursor: pointer;
	color: #fbfdfe;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 400;
	padding: 0 11px;
	line-height: 75px;
	display: inline-block;
	transition: all 0.3s ease-in-out;
	position: relative;
}
.header-menu__item:hover {
	background-color: #3caba2;
}

.header-menu li:before {
	content: '|';
	position: absolute;
	top: 35%;
	left: 0;
	color: #fbfdfe;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 400;
}

.header-menu li:first-child:before{
	display: none;
}
.header-tel {
	display: inline-block;
}
.header-tel__phone {
	display: block;
	font-family: Helios;
	font-size: 21px;
	font-weight: 400;
	color: #fff;
	margin-top: 19px;
	position: relative;
}
.header-tel__phone span {
	color: #3caba2;
}
.header-tel__phone:after {
	content: '';
	position: absolute;
	top: 4px;
	left: -24px;
	background-position: 0 -184px;
	height: 17px;
	width: 14px;
}
.header-tel__phone-request {
	display: inline-block;
	color: #fff;
	font-family: Helios;
	font-size: 13px;
	font-weight: 400;
	border-bottom: 1px solid #498d8f;
	margin-top: 5px;

}

/* PHONE REQUEST */
.phone-request {
	width: 241px;
	height: 101px;
	position: absolute;
	right:15%;
	top: 75px;
	background-color: #0c676a;
	z-index: 2;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
.phone-request.open {
	transition: visibility 0s, opacity 0.3s ease-in-out;
	opacity: 1;
	visibility: visible;
}

.request-form {
	text-align: center;
}
.request-form__phone {
	width: 202px;
	height: 33px;
	background-color: #fff;
	margin: 0 auto;
	display: block;
	color: #292929;
	font-family: Helios;
	font-size: 13px;
	font-weight: 400;
	line-height: 33px;
	box-sizing: border-box;
	padding-left: 25px;
	padding-right: 25px;
}
.request-form__button {
	width: 202px;
	height: 33px;
	background-color: #3caba2;
	display: block;
	margin: 12px auto 0;
	color: #fbfbfc;
	font-family: Helios;
	font-size: 17px;
	font-weight: 400;
	line-height: 33px;
	text-transform: uppercase;
}

.phone-request-form #phone-error {
	top: 2px;
	left: 160px;
}


/*Menu Toggle*/

.menu_toggle{
	display: none;
	cursor: pointer;
}

.menu {
	position: relative;
	display: block;
	float:right;
	width: 40px;
	height: 32px;
	padding: 0;
	background-color: transparent;
	outline: none;
	border: none;
}
.menu__line {
	position: absolute;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
}

.menu__line--1 {
	top: 0;
	transition: all .4s;
}

.menu__line--2 {
	top: 50%;
	margin-top: -1px;
	transition: all .4s;
}

.menu__line--3 {
	bottom: 0;
	transition: all .4s;
}


.menu--active .menu__line {
	background-color: #fff;
	transition: all .4s;
}

.menu--active .menu__line--1 {
	top: 50%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu--active .menu__line--2 {
	opacity: 0;
}

.menu--active .menu__line--3 {
	top: 50%;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}



/* MAIN */
.main {
	background: url('../img/main-bg.png?1478198491') no-repeat center;
	min-height: 684px;
	background-size: cover;
	text-align: center;
	position: relative;
}
.main__title {
	color: #292929;
	font-family: Helios;
	font-weight: 400;
	font-size: 33px;
	line-height: 21px;
	display: inline-block;
	text-align: left;
	margin-top: 55px;
}
.main__title span {
	font-size: 17px;
	line-height: 21px;
}
.main-block {
	height: 411px;
	background-color: rgba(255, 255, 255, 0.55);
	position: absolute;
	left: 0;
	top: 190px;
	width: 100%;
	text-align: left;
}
.main__form-title {
	color: #292929;
	font-family: Helios;
	font-weight: 400;
	font-size: 33px;
	line-height: 42px;
	text-transform: uppercase;
	margin-top: 33px;
}
.main__form-title span {
	display: block;
	font-size: 25px;
	line-height: 25px;
	text-transform: none;
}
.main__form-desc {
	color: #292929;
	font-family: Helios;
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	margin-top: 24px;
}
.main-form {
	width: 459px;
	height: 372px;
	border: 2px solid #085a5d;
	position: absolute;
	box-sizing: border-box;
	top: 19px;
	right: 19px;
}
.main-form__name, .main-form__phone, .main-form__email {
	width: 428px;
	height: 41px;
	border: 2px solid #085a5d;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0);
	display: block;
	margin: 14px auto 0;
	font-family: Helios;
	font-weight: 400;
	line-height: 44px;
	padding-left: 30px;
	padding-right: 30px;
	color: #292929;
	font-size: 13px;
}
.main-form__text {
	width: 428px;
	max-width: 428px;
	height: 109px;
	max-height: 109px;
	border: 2px solid #085a5d;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0);
	display: block;
	margin: 17px auto 0;
	font-family: Helios;
	font-weight: 400;
	line-height: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	color: #292929;
	font-size: 13px;
}
.main-form__submit {
	cursor: pointer;
	width: 428px;
	height: 41px;
	background-color: #0c676a;
	box-sizing: border-box;
	color: #fff;
	font-family: Helios;
	font-size: 17px;
	font-weight: 400;
	line-height: 41px;
	text-transform: uppercase;
	display: block;
	margin: 20px auto 0;
	transition: all 0.3s ease-in-out;
}
.main-form__submit:hover {
	background-color: #3caba2;
}

#name-error {
	position: absolute;
	top: 25px;
	left: 73px;
	color: #ec4646;
	font-size: 17px;
	font-family: Helios;
	font-weight: 400;
	line-height: 25px;
}

#phone-error {
	position: absolute;
	top: 80px;
	left: 102px;
	color: #ec4646;
	font-size: 17px;
	font-family: Helios;
	font-weight: 400;
	line-height: 25px;
}

#mail-error {
	position: absolute;
	top: 132px;
	left: 86px;
	color: #ec4646;
	font-size: 17px;
	font-family: Helios;
	font-weight: 400;
	line-height: 25px;
}

.separator-line {
	height: 16px;
	background-color: #3caba2;
	width: 100%;
}

/* PERSON */

.person {
	overflow: hidden;
	background-color: #fff;
}
.person__exp {
	color: #292929;
	font-family: Helios;
	font-weight: 400;
	line-height: 25px;
	font-size: 33px;
	position: relative;
	padding-left: 24px;
	margin: 50px 0;
}
.person__exp span {
	font-size: 17px;
}
.person__exp:after {
	content: '';
	width: 12px;
	height: 95%;
	background-color: #0c676a;
	position: absolute;
	top: -4px;
	left: 0;
}
.person .wrap{
	margin-bottom: 109px;
}
.person img {
	border: 2px solid #3caba2;
	min-height: 275px;
}

.person .bottom_block{
	width: 100%;
	height: 74px;
	background-color: #3caba2;
}

.person__name {
	color: #292929;
	font-family: Helios;
	font-weight: 400;
	font-size: 33px;
	line-height: 33px;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 25px;
}
.person__name span {
	font-size: 20px;
	display: block;
	line-height: 20px;
}
.person__name:after {
	content: '';
	height: 3px;
	background-color: #3caba2;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}
.person__desc {
	font-size: 17px;
	color: #292929;
	font-family: Helios;
	font-weight: 400;
	line-height: 25px;
	text-align: justify;
	text-indent: 30px;
}
.person__desc:last-child {
	margin-bottom: 109px;
}

/* SERVICES */
.services {
	background-size: cover;
	text-align: center;
}
.services__title {
	color: #fff;
	font-family: Helios;
	font-size: 33px;
	font-weight: 400;
	line-height: 25px;
	text-align: center;
	margin-top: 35px;
}
.services__desc {
	color: #fff;
	font-family: Helios;
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
	text-align: center;
	margin-top: 20px;
	position: relative;
	display: inline-block;
}
.services__desc:after {
	content: '';
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -188px;
	height: 1px;
	width: 376px;
	background-color: #fff;
}

.list-icons {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.list-icons__item {
	display: inline-block;
	vertical-align: top;
}
.list-icons__item:nth-child(1) .icon {
	background-position: 0 0;
	height: 66px;
	width: 58px;
}

.list-icons__item:nth-child(2) .icon {
	background-position: 0 -66px;
	height: 59px;
	width: 59px;
}
.list-icons__item:nth-child(3) .icon {
	background-position: 0 -125px;
	height: 59px;
	width: 78px;
}
.list-icons__icon {
	width: 127px;
	height: 127px;
	border: 2px solid #fff;
	box-sizing: border-box;
	border-radius: 50%;
	text-align: center;
	line-height: 127px;
	display: inline-block;
	margin-bottom: 29px;
}
.list-icons .icon {
	display: inline-block;
	vertical-align: middle;
}
.list-icons__title {
	color: #fff;
	font-family: Helios;
	font-weight: 400;
	line-height: 17px;
	font-size: 17px;
}
.list-icons__desc {
	color: #fff;
	font-family: Helios;
	font-weight: 400;
	line-height: 17px;
	font-size: 13px;
}

/* CERTIFICATES */
.certificates {
	background-color: #fff;
	text-align: center;
	overflow: hidden;
}
.certificates .services__title {
	color: #000;
	margin-top: 70px;
}
.certificates .services__desc {
	color: #000;
}
.certificates .services__desc:after {
	background-color: #000;
}
.certificates-slider {
	width: 902px;
	height: 304px;
	margin: 34px auto 63px;
}
.certificates-slider__item {
	display: inline-block;
	width: 217px;
	height: 312px;
	background-color: #fff;
	margin-left: 5px;
	position: relative;
	line-height: 312px;
}
.certificates-slider__item img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}
.certificates-slider__item .certificate-gray, .certificates-slider__item .certificate-color {
	position: absolute;
	top: 0;
	left: 0;
}
.certificates-slider__item .certificate-color {
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.certificates-slider__item .certificate-color:hover {
	opacity: 1;
}
.certificates-slider__item:first-child {
	margin-left: 0;
}
.certificates-slider .rsBullets {
	width: 100%;
	margin-top: 23px;
}
.certificates-slider .rsBullet {
	width: 18px;
	height: 18px;
	background-color: #e0e0e0;
	border-radius: 50%;
	display: inline-block;
}
.certificates-slider .rsBullet:nth-child(2) {
	margin: 0 8px;
}
.certificates-slider .rsBullet span {
	display: inline-block;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -6px;
	margin-top: -6px;
	width: 12px;
	height: 12px;
	background-color: #e0e0e0;
	border-radius: 50%;
	transition: border-radius 0.2s ease-in-out;
}
.certificates-slider .rsNavSelected {
	position: relative;
}
.certificates-slider .rsNavSelected span {
	background-color: #3caba2;
	opacity: 1;
}

.certificate {
	width: 600px;
	height: 600px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -300px;
	visibility: hidden;
	opacity: 0;
	z-index: 4;
	transition: visible 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.certificate.open {
	opacity: 1;
	visibility: visible;
	transition: visibility 0, opacity 0.3s;
}

/* PRICES */
.prices {
	background: url('../img/bg03.png?1478205842') no-repeat center;
	height: 622px;
	background-size: cover;
	position: relative;
}

.prices .wrap{
	background-color: #0c676a;
	margin-bottom: 70px;
}
.prices__title {
	color: #fff;
	font-family: Helios;
	font-size: 33px;
	font-weight: 400;
	line-height: 44px;
	padding: 10px;
	text-align: center;
}
.prices__bold, .prices__p {
	color: #292929;
	font-family: Helios;
	font-weight: 400;
}
.prices__bold {
	font-size: 25px;
	line-height: 33px;
}
.prices__p {
	font-size: 17px;
	line-height: 21px;
	margin-top: 25px;
}
.prices__p.first {
	margin-top: 0;
}
.prices__p.last {
	margin-top: 40px;
}
.prices .main-form {
	position: static;
}

#map {
	height: 292px;
	width: 100%;
}

.map-icon {
	background: url('../img/map-icon.png?1478208877') no-repeat center;
	width: 40px;
	height: 55px;
}

.footer {
	min-height: 111px;
	background-color: #0c676a;
	width: 100%;
	padding: 15px 0;
}
.footer-menu {
	text-align: center;
	top: 10px;
}
.footer-menu__item {
	display: inline-block;
	color: #fff;
	font-family: Helios;
	font-size: 13px;
	font-weight: 400;
	position: relative;
}
.footer-menu__item:last-child {
	margin-left: 25px;
}
.footer-menu__item:last-child:after {
	content: '|';
	position: absolute;
	left: -15px;
	top: 0;
}
.footer-menu__item a {
	color: #fff;
	transition: all 0.3s ease-in-out;
}
.footer-menu__item:hover a {
	color: #3caba2;
}
.footer__address, .footer__phone, .footer__email {
	color: #fff;
	font-family: Helios;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}

.footer .item:last-child{
	text-align: right;
}

.footer__contacts {
	line-height: 13px;
	display: inline-block;
}
.footer__copyright {
	color: #fff;
	font-family: Helios;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	display: inline-block;
	margin-bottom: 15px;
}
.footer__developer {
	color: #fff;
	font-family: Helios;
	font-size: 13px;
	font-weight: 400;
	text-align: right;
	line-height: 16px;
	cursor: pointer;
}
.footer__developer a {
	color: #fff;
	transition: all 0.3s ease-in-out;
}
.footer__developer a:hover {
	color: #3caba2;
}

.parallax {
	background: transparent;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	z-index: 3;
}
.overlay.open {
	opacity: 1;
	visibility: visible;
	transition: visibility 0, opacity 0.3s;
}


/*=========================LOADER=======================*/

.my_pre_loader{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(70, 70, 70, .5);
}
.my_loader {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top:-50px;
	margin-left:-50px;
}

.my_wrap {
	position:absolute;
	width:100px;
	height:100px;
	float:left;
	
	-webkit-animation-name: rotateThis;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	
	-moz-transform:scale(0.3);
	-o-transform:scale(0.3);
}

.my_wrap div
{
	width:10px;
	height:30px;
	background:#000;
	position:absolute;
	top:35px;
	left:45px;
	
	border-radius: 50px;
	-moz-border-radius-bottomleft:50px;
	-moz-border-radius-bottomright:50px;
	-moz-border-radius-topleft:50px;
	-moz-border-radius-topright:50px;	
}

@-webkit-keyframes rotateThis {
	from { -webkit-transform:scale(0.3) rotate(0deg); }
	to 	 { -webkit-transform:scale(0.3) rotate(360deg); }
}


.bar1 {
	-o-transform:rotate(0deg) translate(0, -40px);opacity:0.1;
	-moz-transform:rotate(0deg) translate(0, -40px);opacity:0.1;
	-webkit-transform:rotate(0deg) translate(0, -40px);opacity:0.1;
}
.bar2 {
	-o-transform:rotate(36deg) translate(0, -40px);opacity:0.2;
	-moz-transform:rotate(36deg) translate(0, -40px);opacity:0.2;
	-webkit-transform:rotate(36deg) translate(0, -40px);opacity:0.2;
}
.bar3 {
	-o-transform:rotate(72deg) translate(0, -40px);opacity:0.3;
	-moz-transform:rotate(72deg) translate(0, -40px);opacity:0.3;
	-webkit-transform:rotate(72deg) translate(0, -40px);opacity:0.3;
}
.bar4 {
	-o-transform:rotate(108deg) translate(0, -40px);opacity:0.4;
	-moz-transform:rotate(108deg) translate(0, -40px);opacity:0.4;
	-webkit-transform:rotate(108deg) translate(0, -40px);opacity:0.4;
}
.bar5 {
	-o-transform:rotate(144deg) translate(0, -40px);opacity:0.5;
	-moz-transform:rotate(144deg) translate(0, -40px);opacity:0.5;
	-webkit-transform:rotate(144deg) translate(0, -40px);opacity:0.5;
}
.bar6 {
	-o-transform:rotate(180deg) translate(0, -40px);opacity:0.6;
	-moz-transform:rotate(180deg) translate(0, -40px);opacity:0.6;
	-webkit-transform:rotate(180deg) translate(0, -40px);opacity:0.6;
}
.bar7 {
	-o-transform:rotate(216deg) translate(0, -40px);opacity:0.7;
	-moz-transform:rotate(216deg) translate(0, -40px);opacity:0.7;
	-webkit-transform:rotate(216deg) translate(0, -40px);opacity:0.7;
}
.bar8 {
	-o-transform:rotate(252deg) translate(0, -40px);opacity:0.8;
	-moz-transform:rotate(252deg) translate(0, -40px);opacity:0.8;
	-webkit-transform:rotate(252deg) translate(0, -40px);opacity:0.8;
}
.bar9 {
	-o-transform:rotate(288deg) translate(0, -40px);opacity:0.9;
	-moz-transform:rotate(288deg) translate(0, -40px);opacity:0.9;
	-webkit-transform:rotate(288deg) translate(0, -40px);opacity:0.9;
}
.bar10 {
	-o-transform:rotate(324deg) translate(0, -40px);opacity:1;
	-moz-transform:rotate(324deg) translate(0, -40px);opacity:1;
	-webkit-transform:rotate(324deg) translate(0, -40px);opacity:1;
}


/*==============================SCROLL===========================*/

.scroll{
	position: fixed;
	right: 20px;
	top:80%;
	cursor: pointer;
	display: none;
	width: 50px;
	height: 50px;
	border-radius:50px;
	background:#222;
}

.scroll .arrow{
	position: absolute;
	width: 30px;
	height: 30px;
	left: 50%;
	top: 30%;
	margin-left: -15px;
	margin-top: -15px;
		background: transparent;
	border-top:15px solid transparent;
	border-left:15px solid transparent;
	border-bottom:15px solid #fff;
	border-right:15px solid transparent;
}
