.header{
	padding-bottom: 170px;
	background: url(../img/background/bg_1.png) no-repeat center center;
	background-size: cover;
	opacity:0;
	@media(max-width:991px){
		padding-bottom: 130px;
	}
	.top_header{
		padding: 35px 0;
		margin-bottom: 40px;
		@media(max-width:767px){
			margin-bottom: 20px;
		}
		h1{
			color: white;
			font-size: 22px;
			font-weight: 700;
			line-height: 28px;
			@media(max-width:991px){
				font-size: 19px;
				margin-bottom: 15px;
			}
			@media(max-width:767px){
				text-align: center;
			}
		}
		.social{
			text-align: right;
			@media(max-width:767px){
				text-align: center;
			}
		}
	}
	.banner{
		.info{
			font-size: 44px;
			font-weight: 700;
			line-height: 53px;
			color: #fafbfd;
			text-align: right;
			margin-bottom: 15px;
			@media(max-width:1199px){
				font-size: 38px;
			}
			@media(max-width:991px){
				font-size: 34px;
				text-align:center;
			}
			@media(max-width:767px){
				font-size: 25px;
				line-height: 30px;
			}
			.center{
				text-align: center;
				@media(max-width:991px){
					text-align:center;
				}
			}
			.color{
				color: #2eccbf;
			}
		}
		.date{
			color: white;
			font-size: 19px;
			font-weight: 700;
			line-height: 29px;
			text-align:right;
			margin-left: -20px;
			margin-bottom: 40px;
			@media(max-width:991px){
				text-align: center;
			}
		}
		.video{
			height: 330px;
			@media(max-width:991px){
				height: 420px;
				margin-bottom: 60px;
			}
			@media(max-width:767px){
				height: 340px;
			}
						@media(max-width:420px){
				height: 250px;
			}
		}
		.list{
			margin-left: 92px;
			@media(max-width:767px){
				margin-left: 0;
			}
			li{
				color: white;
				font-size: 22px;
				font-weight: 600;
				line-height: 29px;
				margin-bottom: 30px;
				padding-left:45px;
				position: relative;
				@media(max-width:1199px){
					font-size: 19px;
				}
				@media(max-width:991px){
					margin-left: 100px;
				}
				@media(max-width:767px){
					font-size: 18px;
					margin-bottom: 20px;
				}
				@media(max-width:530px){
					margin-left: 40px;
				}
				@media(max-width:450px){
					margin-left: 0;
				}
				&:before{
					content:'';
					position: absolute;
					height: 26px;
					width: 28px;
					top: 0;
					left: 0;
					background: url(../img/icons/mark_1.png) no-repeat;
				}
			}
		}
		.sign_up{
			color: white;
			font-size: 20px;
			font-weight: 700;
			line-height: 28px;
			margin: 40px 0 50px 20px;
			position: relative;
			padding-bottom: 10px;
			@media(max-width:1199px){
				font-size: 19px;
				margin-bottom: 30px;
				text-align: center;
			}
						@media(max-width:530px){
				margin-left: 0px;
			}
			&:before{
				content:'';
				position: absolute;
				width: 133px;
				height: 93px;
				background: url(../img/arrows/arrow_1.png) no-repeat;
				left: 15%;
				top: 100%;
				@media(max-width:1199px){
					display: none;
				}
			}
		}
		.wrap{
			text-align: right;
			@media(max-width:1199px){
				text-align:center;
				margin-left: 30px;
			}
			@media(max-width:530px){
				margin-left: 0px;
			}
		}
	}
	.block_bg{
		position: absolute;
		height: 180px;
		width: 100%;
		left: 0;
		right: 0;
		bottom:0;
		background: url(../img/background/bg_2.1.png) no-repeat center;
		background-size: 100% 100%;
	}
}