
@font-face {
    font-family: 'geometriaregular';
    src: url('../fonts/geometria-webfont.woff2') format('woff2'),
         url('../fonts/geometria-webfont.woff') format('woff'),
         url('../fonts/geometria-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geometriabold';
    src: url('../fonts/geometria-bold-webfont.woff2') format('woff2'),
         url('../fonts/geometria-bold-webfont.woff') format('woff'),
         url('../fonts/geometria-bold-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geometriaextrabold';
    src: url('../fonts/geometria-extablack-webfont.woff2') format('woff2'),
         url('../fonts/geometria-extablack-webfont.woff') format('woff'),
         url('../fonts/geometria-extablack-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geometriaheavy';
    src: url('../fonts/geometria-heavy-webfont.woff2') format('woff2'),
         url('../fonts/geometria-heavy-webfont.woff') format('woff'),
         url('../fonts/geometria-heavy-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geometrialight';
    src: url('../fonts/geometria-light-webfont.woff2') format('woff2'),
         url('../fonts/geometria-light-webfont.woff') format('woff'),
         url('../fonts/geometria-light-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geometriamedium';
    src: url('../fonts/geometria-medium-webfont.woff2') format('woff2'),
         url('../fonts/geometria-medium-webfont.woff') format('woff'),
          url('../fonts/geometria-medium-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geometriathin';
    src: url('geometria-thin-webfont.woff2') format('woff2'),
         url('geometria-thin-webfont.woff') format('woff'),
         url('geometria-thin-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}