.footer{
	padding: 40px 0;
	background: #1d202d;
	.logo_img{
		width: 30%;
		@media(max-width:991px){
			width: 40%;
		}
		@media(max-width:767px){
			width: 100px;
		}
	}
	.social{
		width: 100%;
		text-align: center;
		li{
			display: inline-block;
			margin: 0 20px;
			.fa{
				color:#fff;
				font-size: 25px;
				transition:all ease-out .5s;
				&:hover{
					color:#facc03;
				}
			}
		}
	}
	.copy{
		font-size: 14px;
		font-weight: 300;
		line-height: 23px;
		color: rgba(255, 255, 255, .3);
		text-align: right;
		display: block;
	}
}

.content{
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	.item_1{
		width:33%; 
		@media(max-width:800px){
			width: 100%;
			margin-bottom: 30px;
			text-align: center;
		}
	}
	.item_2{
		width:33%; 
		@media(max-width:800px){
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.item_3{
		width:33%; 
		@media(max-width:800px){
			width: 100%;
			text-align: center;
		}
	}
	.brand{
		color: white;
		font-size: 22px;
		font-weight: 700;
		line-height: 28px;
		@media(max-width:991px){
			font-size: 19px;
		}
	}
	.list_social{
		display: block;
		text-align: center;
	}
	.copy{
		display: block;
		text-align: right;
		color:rgba(255, 255, 255, .5);
		@media(max-width:800px){
			text-align: center;
		}
	}
}