.header{
	background: url(../img/background/bg_1.png) no-repeat center;
	background-size: cover;
	@media(max-width:991px){
		background-attachment: fixed;
	}
	.top_header{
		padding: 30px 0;
		.logo{
			width: 60%;
			@media(max-width:991px){
				width: 100%;
			}
			@media(max-width:767px){
				width: 90px;
			}
		}
		h3{
			color: #162141;
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			@media(max-width:991px){
				margin-left: 30px;
			}
			@media(max-width:767px){
				margin-left: 0;
				font-size: 14px;
				line-height: 18px;
				text-align: center;
			}
			@media(max-width:500px){
				margin-left: 35px;
			}
		}
		.row_1{
			.adress, .phone{
				color: #162141;
				font-family: PTSans;
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
				padding-left:30px;
				position: relative;
				@media(max-width:991px){
					display: none;
				}
				&:before{
					content:'';
					position: absolute;
					width: 25px;
					height: 25px;
					top: -3px;
					left: 0;
					background: url(../img/icons/sprite_1.png) no-repeat 0 0;
				}
			}
			.phone{
				display: inline-block;
				@media(max-width:991px){
					display: none;
				}
				&:before{
					content:'';
					position: absolute;
					width: 25px;
					height: 25px;
					top: -3px;
					left: 0;
					background: url(../img/icons/sprite_1.png) no-repeat 93% 0;
				}
			}
			.btn_menu{
				display: none;
				@media(max-width:991px){
					display: block;
					text-align: right;
				}
			}
		}
		.row_2{
			display: none;
			@media(max-width:991px){
				text-align: center;
				margin-top: 50px;
			}
			.adress, .phone{
				color: #162141;
				font-family: PTSans;
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
				padding-left:30px;
				position: relative;
				display: inline-block;
				@media(max-width:991px){
					margin-bottom: 10px;
				}
				&:before{
					content:'';
					position: absolute;
					width: 25px;
					height: 25px;
					top: -3px;
					left: 0;
					background: url(../img/icons/sprite_1.png) no-repeat 0 0;
				}
			}
			.phone{
				display: inline-block;
				&:before{
					content:'';
					position: absolute;
					width: 25px;
					height: 25px;
					top: -3px;
					left: 0;
					background: url(../img/icons/sprite_1.png) no-repeat 93% 0;
				}
			}
		}
	}
	.banner{
		padding-top: 70px;
		@media(max-width:550px){
			padding-bottom: 30px;
		}
		@media(max-width:450px){
			padding-top: 30px;
		}
		.wrap{
			position: relative;
			.social{
				width: 40px;
				height: 160px;
				position: absolute;
				top: 0;
				right: 15px;
				@media(max-width:550px){
					width: 160px;
					height: 40px;
					top:95%;
					right: 50%;
					margin-right: -80px;
					text-align: center;
				}
				li{
					text-align: center;
					margin-bottom: 40px;
					@media(max-width:1199px){
						margin-bottom: 25px;
					}
					@media(max-width:550px){
						display: inline-block;
						margin: 0 12px;
					}
					a{
						display: inline-block;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
				.fa{
					color:#162141;
					font-size: 25px;
					transition:all .5s ease-out;
					@media(max-width:1199px){
						font-size: 24px;
					}
					&:hover{
						color:#facc03;
					}
				}
			}
		}
		h1{
			color: #162141;
			font-size: 42px;
			font-weight: 700;
			line-height: 42px;
			@media(max-width:1199px){
				font-size: 36px;
				line-height: 36px;
			}
			@media(max-width:767px){
				font-size: 32px;
				line-height: 32px;
			}
		}
		.descr{
			color: #162141;
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			margin: 30px 0 30px 60px;
			border-left:3px solid #e8d131;
			padding-left: 10px;
			@media(max-width:1199px){
				padding-right: 230px;
			}
			@media(max-width:767px){
				font-size: 17px;
				line-height: 20px;
				margin-left: 0;
				padding-right: 100px;
			}
		}
		.list_info{
			margin-bottom: 60px;
			li{
				color: #162141;
				font-size: 20px;
				font-weight: 500;
				line-height: 22px;
				margin-bottom: 25px;
				position: relative;
				padding-left: 45px;
				@media(max-width:767px){
					font-size: 18px;
					margin-bottom: 15px;
				}
				&:before{
					content:'';
					position: absolute;
					width: 23px;
					height: 20px;
					top: -3px;
					left: 0;
					background: url(../img/icons/marker.png) no-repeat;
				}
			}
		}
		.lead{
			text-align: center;
			margin-bottom: 40px;
			.free_consult{
				color: #162141;
				font-size: 18px;
				font-weight: 400;
				line-height: 22px;
				margin-bottom: 30px;
			}
		}
	}
}