@import '_font-awesome.scss';

body{
	font-family: Arial, sans-serif;
	min-width: 320px;
}
.container-fluid{
	padding: 0;
}
.navbar{
	border:none;
	border-bottom:3px solid #222;
	padding: 20px 40px;
	background: #ccc;
	.navbar-header .navbar-brand{
		color:#232222;
		font-family: Arial, sans-serif;
		font-size: 35px;
		text-transform: uppercase;
		height: auto!important;
		line-height: 40px;
		@media screen and (max-width:1200px){
			font-size: 22px;
		}
		@media screen and (max-width:550px){
			font-size: 16px;
		}
	}
	.navbar-right{
		padding-top: 40px;
		@media screen and (max-width:1200px){
			padding-top: 15px;
		}
		li{
			@media screen and (max-width:991px){
				float: none;
				text-align: center;
				margin-bottom: 10px;
			}
		}
		li a{
			padding:  0 20px;
			font-size: 25px;
			color:#333;
			@media screen and (max-width:1200px){
				font-size: 22px;
			}
			@media screen and (max-width:991px){
				font-size: 19px;
			}
			.fa{
				font-size: 25px;
				color:#333;
				margin-right: 8px;
				@media screen and (max-width:1200px){
					font-size: 22px;
				}
				@media screen and (max-width:991px){
					font-size: 19px;
				}
			}
		}
		.social_list{
			overflow:hidden;
			padding: 0;
			margin-top: -5px;
			li{
				display: inline-block;
			}
			@media screen and (max-width:991px){
				margin-top: 0;
				text-align: center;
			}
		}
		.social{
			padding: 0 6px;
			@media screen and (max-width:991px){
				display: inline-block;
			}
		}
	}
}

.main{
	padding-top: 10px;
	.text{
		padding-top: 120px;
		@media screen and (max-width:991px){
			padding-top: 20px;
		}
			@media screen and (max-width:550px){
				padding-top: 0;
			}
		.now{
			text-align: center;
			font-size: 22px;
			color:#333;
			margin-bottom: 30px;
			@media screen and (max-width:550px){
				font-size: 18px;
			}
		}
		@media screen and (max-width:991px){
			margin-top: 40px;
		}
		h1{
			text-align: center;
			padding-top: 0;
			margin-top: 0;
		}
		.price{
			text-align: center;
			text-decoration: line-through;
			font-size: 18px;
			color:#706e6e;
		}
		.form-control{
			margin-bottom: 10px;
		}
		.form-control:focus{
			border: 1px solid #333;
		}
		.area{
			height: 180px;
			resize:none;
		}
		.btn{
			padding: 10px 40px;
			font-size: 20px;
			background: #ccc;
			display: block;
			margin: 15px auto 0 auto;
		}
	}
	.info{
		text-align: center;
		color:#232222;
		margin-bottom: 20px;
		.free{
			font-family: Arial, sans-serif;
			font-size: 20px;
			text-transform: uppercase;
			@media screen and (max-width:550px){
				font-size: 16px;
			}
		}
		.what{
			font-family: Arial, sans-serif;
			font-size: 25px;
			text-transform: uppercase;
			@media screen and (max-width:550px){
				font-size: 18px;
			}
		}
	}
}

.footer{
	border-top:3px solid #222;
	margin-top: 100px;
	padding: 30px 0;
	background: #ccc;
	@media screen and (max-width:550px){
				margin-top: 35px;
			}
	.item{
		@media screen and (max-width:991px){
			margin-bottom: 40px;
			text-align: center;
			&:last-child{
				margin-bottom: 0;
			}
		}
		@media screen and (max-width:550px){
				margin-bottom: 15px;
			}
	}
	.brand{
		color:#232222;
		font-family: Arial, sans-serif;
		font-size: 30px;
		text-transform: uppercase;
		height: auto!important;
		padding: 0;
		display: inline-block;
		@media screen and (max-width:1200px){
			font-size: 25px;
		}
		@media screen and (max-width:550px){
				font-size: 18px;
			}
	}
	.phone{
		font-size: 22px;
		color:#333;
		line-height: 40px;
		@media screen and (max-width:1200px){
			font-size: 20px;
			margin-top: 0;
			padding-top: 0;
		}
		@media screen and (max-width:550px){
				font-size: 18px;
			}
	}
	.list-social{
		padding: 0;
		margin: 0;
		li{
			list-style:none;
			display: inline-block;
			margin: 0 10px;
			.fa{
				margin-right: 8px;
				font-size: 20px;
				color:#333;
				display: inline-block;
			}
		}
	}
	.copy a{
		color:#333;
		line-height: 40px;
	}
}


@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	/* since 3.1.0 */
	.navbar-collapse.collapse.in { 
		display: block!important;
	}
	.collapsing {
		overflow: hidden!important;
	}
}