
@font-face{
	@include Font('fontawesome-webfont');
}

body{
	margin:0;
	min-width: 360px;
	font-family:$font-family;
}

section{
	position: relative;
	padding:90px 0;
}

a{
	text-decoration: none;
}
p{
	margin: 0;
}
ul{
	padding: 0;
	margin: 0;
	li{
		float: left;
		list-style: none;
	}
}

h2{
	margin: 0;
	color: #7b6c63;
	font-size: 40px;
	font-weight: 600;
	line-height: 48px;
	text-transform: uppercase;
	padding-bottom:40px;
	background: url(../img/h2_bottom_line.png) no-repeat 50% 100%;
}
.section_head{
	text-align: center;
	p{
		color: #212121;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		margin: 30px 0 90px 0;
	}
}

h3{
	color: #7b6c63;
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
}


h4{
	color: #363636;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}

h5{
	color: #212121;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
}

a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

.link{
	color: #29c5f2;
	font-size: 16px;
	font-weight: 300;
}

.cliarfix:before,
.cliarfix:after {
	content: "";
	display: table;
}

.cliarfix:after {
	clear: both;
}

.cliarfix {
	clear: both;
}

.img-responsive{
	width:100%;
	height: auto;
}

.active{
	border-bottom: 5px solid #7b6c63;
	@media(max-width:768px){
		border:none;
	}
}


.form{
	border:none;
	border-top:4px solid #242424;
	border-radius:0;
	background: transparent;
	padding: 20px;
	float:left;
	margin-bottom: 20px;
	color: #5b5b5b;
	font-family: OpenSans;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
}

.fixed {
	position:fixed;
	top:0;
	left:0;
	height: 85px;
	width: 100%;
	z-index:999;
	@media(max-width:767px){
		height: auto;
	}
}




/*=========loader=========*/


.wrap_loader{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	bottom:0;
	background-color: rgba(48, 48, 48, .6);
	.wrap_block{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -30px;
		margin-left: -30px;
	}

	@-webkit-keyframes loading {
		to { -webkit-transform: rotate(360deg); }
	}
	@keyframes loading {
		to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
	}


		#loading {

			width: 60px;
			height: 60px;
			border-radius: 60%;
			background: transparent;

			border-top: 6px solid #fff;
			border-right: 6px solid #fff;
			border-bottom: 6px solid #777;
			border-left: 6px solid #777;

			-webkit-animation: loading 1.2s infinite linear;
			animation: loading 1.2s infinite linear;

		}
	}
