footer{
	.footer_top{
		background: #222222;
		padding:60px 0;
		@media(max-width:767px){
			text-align: center;
		}
		.item{
			@media(max-width:992px){
				margin-bottom: 50px;
			}
		}
		.logo{
			display: inline-block;
			margin-bottom: 30px;
		}
		h4{
			color: #c2c2c2;
			margin-top: 0;
		}
		p{
			color: #929292;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			margin: 15px 0 25px 0;
		}
		article{
			border-bottom: 1px solid #393939;
			margin-bottom: 25px;
			.date{
				color: #5f5f5f;
				font-size: 10px;
				font-weight: 400;
				line-height: 10px;
				text-transform: uppercase;
				margin-bottom: 15px;
			}
			.time{
				color: #5f5f5f;
				font-size: 10px;
				line-height: 10px;
				margin-bottom: 15px;
				a{
					color: #7b6c63;
					font-size: 14px;
				}
			}
		}
		address{
			p{
				margin: 0;
				font-family: OpenSans;
				font-weight: 300;
				.fa{
					display: inline-block;
					margin-right: 10px;
					font-weight: 400;
				}
				a{
					color: #929292;
				}
			}
		}
	}
	.footer_bottom{
		background: #1c1c1c;
		text-align: center;
		p{
			color: #595959;
			font-size: 16px;
			font-weight: 300;
			line-height: 16px;
			padding:30px 0 20px 0;
		}
	}
}