/*===============================About us====================================*/

.about_us{
	padding-bottom: 0;
	.we_are_best{
		color: #000;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		padding: 0;
		background: #f5f5f5;
		
		p{
			margin: 20px 0;
		}
		.button{
			display: inline-block;
			color: #000;
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
			text-transform: uppercase;
			padding: 12px;
			margin-top: 20px;
			border: 2px solid black;
			border-radius: 3px;
			.fa{
				display: inline-block;
				margin-left: 5px;
			}
		}
		@media(max-width:991px){
			text-align: center;
		}
	}
	.wrap{
		background: url(../img/about_us.png) no-repeat 170% 0;
		background-size: contain;
		padding: 90px 0;
		@media(max-width:992px){
			background:transparent;
		}
	}
}

.we_provide{
	text-align: center;
	.section_top{
		margin-bottom: 70px;
	}
	.item{
		.fa{
			color: #7b6c63;
			font-size: 54px;
			font-weight: 400;
			line-height: 30px;
			text-transform: uppercase;
		}
		p{
			color: #949494;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
		}
		@media(max-width:991px){
			margin-bottom: 60px;
		}
		&:last-child{
			@media(max-width:767px){
				margin-bottom: 0;
			}
		}
	}
}

.our_skills{
	background: url(../img/skills.png) no-repeat;
	background-size: cover;
	text-align: center;
	padding: 0;
	h3{
		color: #fff;
		margin-bottom: 30px;
	}
	.wrapper{
		padding:90px 0;
		opacity: 0.7;
		background-color: black;
	}
	.item_for_progress{
		float:left;
		width: 20%;
		@media(max-width:991px){
			float:none;
			width: 100%;
			margin-bottom: 60px;
		}
		&:last-child{
			@media(max-width:991px){
				margin-bottom: none;
			}
		}
		p{
			color: white;
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
			margin: 30px
		}
	}
	.containerWrap{
		margin: 0 auto;
		height: 169px;
		width: 169px;
		border:5px solid  #7b6c63;
		border-radius:169px;
		padding:5px;
	}
}

/*=============================================Portfolio===================================================*/


.projects{
	padding-bottom: 90px;
	.portfolio{
		padding: 0;
		.port{
			padding: 0;
			position: relative;
			.paperClips{
				position: absolute;
				top:5%;
				left:5%;
				width: 90%;
				height: 90%;
				background: rgba(0, 0, 0, 0.8);
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				.text{
					margin: auto;
					text-align: center;
					display: inline-block;
				}
			}
		}
		.descr{
			color: white;
			font-size: 14px;
			font-weight: 300;
			line-height: 14px;
			margin: 0;
			text-transform: uppercase;
		}
	}
	h4{
		color: white;
		font-size: 18px;
		font-weight: 600;
		line-height: 18px;
		text-transform: uppercase;
		margin:0 0 20px 0;
		padding-bottom:30px;
		background: url(../img/white_line.png) no-repeat 50% 100%;
	}
	.latest_twits{
		background-color:#1a1a1a;
		text-align: center;
		h4{
			background: none;
			padding: 0;
			color:#fff;
		}
		p{
			font-size: 18px;
			font-weight: 400;
			line-height: 48px;
			color:#fff;
			span{
				color: #7b6c63;
			}
		}
	}

	.see_all{
		text-align: center;
		padding-top: 90px;
	}
	.button{
		display: inline-block;
		color: #000;
		font-size: 16px;
		line-height: 16px;
		font-weight: 400;
		padding:20px 50px;
		border: 2px solid black;
		border-radius: 3px;
		.fa{
			display: inline-block;
			margin-left:10px;
		}
	}
}


/*=======================================Our_Team=========================================*/

.our_team{
	padding-bottom:0;
	background: #f5f5f5;
}
.team{
	padding-bottom:90px;
	.item{
		@media(max-width:992px){
			margin-bottom: 60px;
		}
		.wrap{
			position: relative;
		}
		.links{
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.8);
			top:0;
			left: 0;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			opacity:0;
			transition:all .7s;
		}
		.wrapper{
			margin: auto;
		}
		.social{
			display: inline-block;
			margin-right:10px;
			border: 3px solid white;
			height: 40px;
			width: 40px;
			border-radius:40px;
			padding:10px;
			@media(max-width:992px){
				height: 60px;
				width: 60px;
				border-radius:60px;
				padding: 17px;
			}
			.fa{
				color:#fff;
				font-size: 18px;
				@media(max-width:992px){
					font-size: 24px;
				}
			}
		}
		.fb{
			padding-left: 12px;
			@media(max-width:992px){
				padding-left: 20px;
			}
		}

		.descr{
			margin-top:20px;
			padding: 25px;
			border: 3px solid #e4e4e4;
			text-align: center;
			cursor:pointer;
			transition:all .7s ease-out;
			.name{
				color: black;
				font-size: 24px;
				font-weight: 400;
				line-height: 30px;
				text-transform: uppercase;
			}
			.position{
				color: black;
				font-family: "Orator Std";
				font-size: 14px;
				font-weight: 500;
				line-height: 30px;
				text-transform: uppercase;
			}
		}
		&:hover .links{
			opacity:1;
		}
		&:hover .descr{
			border-color:#000;
		}
	}
}

.client_saying{
	background: #1a1a1a;
	.active{
		border-bottom: none;
	}
	.caption{
		text-align: center;
		h3{
			color:#fff;
		}
		blockquote{
			color: #929292;
			font-size: 18px;
			font-weight: 300;
		}
		.autor{
			color: #7b6c63;
			font-size: 18px;
			font-weight: 400;
			margin: 30px;
		}
	}
}


.carousel-indicators{
	position: static;
	bottom:0;
	left:0;
	margin: 30px auto;
	width:auto;
}

/*=======================================Our Blog================================================*/

.our_blog{
	@media(max-width:991px){
		text-align: center;
	}
	.bx-viewport{
		box-shadow:none;
	}
	.bx-pager{
		position: absolute;
		bottom:10px;
		left:30px;
		width:auto;
		font-size: 1.2em;
	}
	.item{
		padding-bottom: 60px;
		position: relative;
		@media(max-width:991px){
			padding: 0;
			margin-bottom: 60px;
		}
	}
	.left{
		padding-left: 40px;
		@media(max-width:991px){
			padding-left: 0;
			text-align: center;
		}

	}
	.right{
		padding-right: 40px;
		text-align: right;
		@media(max-width:991px){
			padding-right: 0;
			text-align: center;
		}
	}
	.for_bord_right{
		border-right:1px solid #ebebeb;
		@media(max-width:991px){
			border:none;
		}
	}
	.for_bord_left{
		border-left:1px solid #ebebeb;
		@media(max-width:991px){
			border:none;
		}
	}
	.lastPhoto{
		padding-bottom: 180px;
		@media(max-width:991px){
			padding-bottom: 0;
		}
	}
	.lastPost{
		@media(max-width:991px){
			margin-bottom: 0;
		}
	}
	.all_post{
		height: 90px;
		width: 90px;
		border:10px solid #ebebeb;
		border-radius:90px;
		padding:20px;
		background-color: #7b6c63;
		color: white;
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		text-align: center;
		position: absolute;
		bottom:0;
		right:-45px;
		@media(max-width:991px){
			display:none;
		}
	}
	.ellipse{
		width: 17px;
		height: 17px;
		border-radius:17px;
		background-color: #ebebeb;
		position: absolute;
		top: 0;
		left: -9px;
		@media(max-width:991px){
			display:none;
		}

	}
	.clear{
		clear:both;
	}
	.date{
		color: #7b6c63;
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
	}
	h3{
		color: #212121;
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
	}
	p{
		font-size: 16px;
		line-height: 30px;
		color: #949494;
		font-weight: 400;
	}
	span{
		color: #7b6c63;
		font-weight: 700;
	}
}

/*========================================Contact================================================*/

.contact{
	background: #f5f5f5;
	text-align: center;
	h2{
		background: none;
		margin-bottom: 40px;
	}
	form{
		input{
			width:48%;
			@media(max-width:480px){
				width: 100%;
			}
		}
		input[type='text']{
			margin-right:4%;

		}
		input[type='email']{
			box-shadow:none;
		}
		input::-webkit-input-placeholder{
			color: #5b5b5b;
			font-family: OpenSans;
			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
		}
		input::-moz-placeholder{
			color: #5b5b5b;
			font-family: OpenSans;
			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
		}
		input:-ms-input-placeholder{
			color: #5b5b5b;
			font-family: OpenSans;
			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
		}
		input::placeholder{
			color: #5b5b5b;
			font-family: OpenSans;
			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
		}
		textarea{
			width: 100%;
		}
	}
	.for_line{
		height: 1px;
		background-color: #242424;
		clear:both;
	}
	.button{
		display: inline-block;
		margin-top: 40px;
		color: black;
		font-size: 18px;
		font-weight: 500;
		line-height: 18px;
		background: transparent;
		padding:15px 50px;
		border:2px solid black;
	}
}