/*======================FONTS==============================*/

@font-face{
	@include Font('proximanova-regular', 400);
}

@font-face{
	@include Font('proximanova-semibold', 600);
}

@font-face{
	@include Font('proximanova-bold', 700);
}

@font-face {
	font-family: 'fontawesome-webfont';
	src: url('../fonts/fontawesome-webfont.eot'); 
	src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/fontawesome-webfont.woff2') format('woff2'), 
	url('../fonts/fontawesome-webfont.woff') format('woff'), 
	url('../fonts/fontawesome-webfont.ttf')  format('truetype'),
	url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg');
}


/*=====================COMMON STYLES======================*/

body{
	margin:0;
	min-width: 320px;
	font-family:$font-family;
}

article{
	position: relative;
}


ul{
	padding: 0;
	margin: 0;
	li{
		float: left;
		list-style: none;
	}
}

h2{
	color: #a3a78b;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	text-transform: uppercase;
	margin-bottom: 35px;
}

h3{
	color: #d98d1b;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;

}

a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

.cliarfix:before,
.cliarfix:after {
	content: "";
	display: table;
}

.cliarfix:after {
	clear: both;
}

.cliarfix {
	clear: both;
}

.img-responsive{
	width:100%;
	height: auto;
}

.resp{
	@media(max-width:1170px){
		width:100%;
	}
	@media(max-width:991px){
		width: auto;
	}
}

.input-group{
	position: relative;
	.form-control{	
		background-color: #f3efe4;
		border-radius: 6px;
		color: #757f3c;
		font-family: Georgia;
		font-size: 12px;
		font-style: italic;
		line-height: 12px;
		padding-right: 40px;
		&:focus{
			box-shadow:none;
			border-color:#cccccc;
		}
		&::-webkit-input-placeholder{
			color: #757f3c;
		}
		&::-moz-placeholder{
			color: #757f3c;
		}
		&:-ms-input-placeholder{
			color: #757f3c;
		}
		&::placeholder{
			color: #757f3c;
		}
	}
	.btn-default{
		background-color: transparent;
		&:hover{
			background-color: transparent;
			color: #757f3c;
		}
	}
	.btn{
		border:none;
		position: absolute;
		right: 0;
		top: 0;
		color: #757f3c;
		font-size: 17px;
		line-height: 22px;
		font-weight: 700;
	}
}

.dialog{
	display: none;
}




