footer{
	background-color: #757f3c;
	padding:30px 0;
	h2{
		text-shadow: 0 1px 0 #838d48;
		color: #3b401e;
		margin-bottom: 24px;
		padding-bottom: 14px;
		border-bottom:1px solid #51582a;
		box-shadow:0 1px 0 #889446;
	}
	.block{
		display:table-row;
		@media(max-width:991px){
			display: block;
		}
	}
	.first_list, .second_list{
		display: table-cell;
		vertical-align:top;
		@media(max-width:991px){
			display: block;
		}
	}
	.second_list{
		padding-left: 40px;

		@media(max-width:991px){
			padding-left: 0;
		}
	}
	.item{
		@media(max-width:480px){
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
		}
	}
	li{
		float:none;
		a{
			color: white;
			font-family: "Myriad Pro";
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			&:hover{
				color:#fff;
			}
		}
	}
	.follow{
		text-align: center;
		@media(max-width:992px){
			margin-top: 40px;
		}
	}

	.social li a{
		color: white;
		font-family: $font-family;
		font-size: 16px;
		font-weight: 600;
		line-height: 26px;
		i{
			margin-right: 15px;
			transition:color .5s ease-out;
		}
	}
	.social li a:hover i{
		color:#e0a244;
	}
	.social .fb{
		i{
			margin-right: 18px;
			@media(max-width:992px){
				margin-right: 5px;
			}
		}
	}

	.social{
		@media(max-width:992px){
			text-align: center;
		}
		li{
			@media(max-width:992px){
				float:none;
				display: inline-block;
				margin-right: 25px;
				a i{
					margin-right: 5px;
				}
			}
		}
	}
	.search{
		margin-top: 25px;
		.input-group{
			width:100%;
		}
	}

}