/*===================================HEADER==================================*/

header{
	background-color: white;
	box-shadow: 0 1px 0 #e4ded1, inset 0 -2px 1px rgba(229, 221, 199, 0.05);
	.logo{
		padding-top: 10px;
		@media(max-width:768px){
			text-align: center;
			margin-bottom: 40px;
		}
	}
	.shipping{
		color: #c4b07a;
		font-size: 11px;
		font-weight: 600;
		line-height: 11px;
		text-transform: uppercase;
		padding-left: 30px;
		margin: 20px 0 0 20px;
		background: url(../img/Truck.png) no-repeat 0% 0%;
		@media(max-width:992px){
			float:right;
			margin-top: 30px;
		}
		@media(max-width:768px){
			float:none;
			margin: 0;
			text-align: center;
			padding-top: 20px;
			background-position: 50% 0;
		}
	}
	nav{
		@media(max-width:992px){
			float:right;
			margin-top: 15px;
			li:last-child a{
				padding-right: 0;
			}
		}
		@media(max-width:768px){
			float:none;
			text-align: center;
			li{
				display:inline-block;
				float:none;
			}
		}
		li{
			a{
				color: #3b401e;
				font-size: 16px;
				font-weight: 600;
				line-height: 16px;
				padding:20px;
				display: inline-block;
				transition:all .7s ease-out;
				@media(max-width:1170px){
					padding:10px;
				}
				&:hover{
					color:#101500;
				}
			}
			&::after{
				content:'|';
				color: #3b401e;
				font-size: 16px;
			}
			&:last-child::after{
				content:'';
			}
		}
		span{
			color: #e8930c;
			font-size: 12px;
			font-weight: 600;
			line-height: 12px;
		}
	}
	.menu{
		float:right;
		@media(max-width:992px){
			float:none;
			margin-top: 50px;
			text-align: center;
			margin-bottom: 10px;
		}
		li{
			@media(max-width:992px){
				float:none;
				display: inline-block;
			}
			a{
				padding:15px 8px 10px 8px;
				color: #414141;
				font-size: 12px;
				font-weight: 600;
				line-height: 12px;
				display: inline-block;
				transition:color .5s ease-out;
				@media(max-width:992px){
					font-size: 14px;
					line-height: 14px;
				}
				&:hover{
					color:#171717;
				}
			}
			&::after{
				content:'|';
				color: #414141;
				font-size: 12px;
			}
			&:last-child::after{
				content:'';
			}
		}
	}
	.input-group{
		width:73%;
		float:right;
		@media(max-width:992px){
			float:none;
			margin: 0 auto;
		}
	}
	.form-control{	
		@media(max-width:992px){
			margin-bottom: 30px;
		}
	}
}
.dialog{
	input[type=text], input[type=password]{
		width:80%;
		display: block;
		background-color: #f3efe4;
		border-radius: 6px;
		color: #757f3c;
		font-family: Georgia;
		font-size: 12px;
		font-style: italic;
		line-height: 12px;
		padding-right: 40px;
		border:none;
		padding:15px 10px;
		margin-bottom: 30px;
	}
	input[type=text]{
		margin-top: 30px;
	}
	input[type=submit]{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		line-height: 14px;
		background-color: #e8930c;
		border-radius: 4px;
		border:none;
		color:#fff;
		box-shadow: 0 2px 0 rgba(1, 1, 1, 0.04), inset 0 -2px 0 #d08000;
		padding: 15px 35px;
	}
}
.ui-dialog .ui-dialog-titlebar {
	padding: 1.1em 2em;
	position: relative;
}
.ui-widget-header {
	border: none;
	background: #757f3c;
	color: #fff;
	font-weight: bold;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    text-align: center;
    float:none;
    button{
    	border:none;
    	border-radius:4px;
    	background: #757f3c;
    	padding: 12px 24px;
    	font-size: 12px;
    	font-weight: 700;
    	line-height: 12px;
    	color:#fff;
    }
}